@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-large{
	font-size: 1.4em;
}
.icon-flip-horizontal{
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.icon-phone:before {
	content: "\e600";
}
.icon-mobile:before {
	content: "\e601";
}
.icon-mouse:before {
	content: "\e602";
}
.icon-directions:before {
	content: "\e603";
}
.icon-mail:before {
	content: "\e604";
}
.icon-paperplane:before {
	content: "\e605";
}
.icon-pencil:before {
	content: "\e606";
}
.icon-feather:before {
	content: "\e607";
}
.icon-paperclip:before {
	content: "\e608";
}
.icon-drawer:before {
	content: "\e609";
}
.icon-reply:before {
	content: "\e60a";
}
.icon-reply-all:before {
	content: "\e60b";
}
.icon-forward:before {
	content: "\e60c";
}
.icon-user:before {
	content: "\e60d";
}
.icon-users:before {
	content: "\e60e";
}
.icon-user-add:before {
	content: "\e60f";
}
.icon-vcard:before {
	content: "\e610";
}
.icon-export:before {
	content: "\e611";
}
.icon-location:before {
	content: "\e612";
}
.icon-map:before {
	content: "\e613";
}
.icon-compass:before {
	content: "\e614";
}
.icon-location2:before {
	content: "\e615";
}
.icon-target:before {
	content: "\e616";
}
.icon-share:before {
	content: "\e617";
}
.icon-sharable:before {
	content: "\e618";
}
.icon-heart:before {
	content: "\e619";
}
.icon-heart2:before {
	content: "\e61a";
}
.icon-star:before {
	content: "\e61b";
}
.icon-star2:before {
	content: "\e61c";
}
.icon-thumbs-up:before {
	content: "\e61d";
}
.icon-thumbs-down:before {
	content: "\e61e";
}
.icon-chat:before {
	content: "\e61f";
}
.icon-comment:before {
	content: "\e620";
}
.icon-quote:before {
	content: "\e621";
}
.icon-house:before {
	content: "\e622";
}
.icon-popup:before {
	content: "\e623";
}
.icon-search:before {
	content: "\e624";
}
.icon-flashlight:before {
	content: "\e625";
}
.icon-printer:before {
	content: "\e626";
}
.icon-bell:before {
	content: "\e627";
}
.icon-link:before {
	content: "\e628";
}
.icon-flag:before {
	content: "\e629";
}
.icon-cog:before {
	content: "\e62a";
}
.icon-tools:before {
	content: "\e62b";
}
.icon-trophy:before {
	content: "\e62c";
}
.icon-tag:before {
	content: "\e62d";
}
.icon-camera:before {
	content: "\e62e";
}
.icon-megaphone:before {
	content: "\e62f";
}
.icon-moon:before {
	content: "\e630";
}
.icon-palette:before {
	content: "\e631";
}
.icon-leaf:before {
	content: "\e632";
}
.icon-music:before {
	content: "\e633";
}
.icon-music2:before {
	content: "\e634";
}
.icon-new:before {
	content: "\e635";
}
.icon-graduation:before {
	content: "\e636";
}
.icon-book:before {
	content: "\e637";
}
.icon-newspaper:before {
	content: "\e638";
}
.icon-bag:before {
	content: "\e639";
}
.icon-airplane:before {
	content: "\e63a";
}
.icon-lifebuoy:before {
	content: "\e63b";
}
.icon-eye:before {
	content: "\e63c";
}
.icon-clock:before {
	content: "\e63d";
}
.icon-microphone:before {
	content: "\e63e";
}
.icon-calendar:before {
	content: "\e63f";
}
.icon-bolt:before {
	content: "\e640";
}
.icon-thunder:before {
	content: "\e641";
}
.icon-droplet:before {
	content: "\e642";
}
.icon-cd:before {
	content: "\e643";
}
.icon-briefcase:before {
	content: "\e644";
}
.icon-air:before {
	content: "\e645";
}
.icon-hourglass:before {
	content: "\e646";
}
.icon-gauge:before {
	content: "\e647";
}
.icon-language:before {
	content: "\e648";
}
.icon-network:before {
	content: "\e649";
}
.icon-key:before {
	content: "\e64a";
}
.icon-battery:before {
	content: "\e64b";
}
.icon-bucket:before {
	content: "\e64c";
}
.icon-magnet:before {
	content: "\e64d";
}
.icon-drive:before {
	content: "\e64e";
}
.icon-cup:before {
	content: "\e64f";
}
.icon-rocket:before {
	content: "\e650";
}
.icon-brush:before {
	content: "\e651";
}
.icon-suitcase:before {
	content: "\e652";
}
.icon-cone:before {
	content: "\e653";
}
.icon-earth:before {
	content: "\e654";
}
.icon-keyboard:before {
	content: "\e655";
}
.icon-browser:before {
	content: "\e656";
}
.icon-publish:before {
	content: "\e657";
}
.icon-progress-3:before {
	content: "\e658";
}
.icon-progress-2:before {
	content: "\e659";
}
.icon-brogress-1:before {
	content: "\e65a";
}
.icon-progress-0:before {
	content: "\e65b";
}
.icon-sun:before {
	content: "\e65c";
}
.icon-sun2:before {
	content: "\e65d";
}
.icon-adjust:before {
	content: "\e65e";
}
.icon-code:before {
	content: "\e65f";
}
.icon-screen:before {
	content: "\e660";
}
.icon-infinity:before {
	content: "\e661";
}
.icon-light-bulb:before {
	content: "\e662";
}
.icon-credit-card:before {
	content: "\e663";
}
.icon-database:before {
	content: "\e664";
}
.icon-voicemail:before {
	content: "\e665";
}
.icon-clipboard:before {
	content: "\e666";
}
.icon-cart:before {
	content: "\e667";
}
.icon-box:before {
	content: "\e668";
}
.icon-ticket:before {
	content: "\e669";
}
.icon-rss:before {
	content: "\e66a";
}
.icon-signal:before {
	content: "\e66b";
}
.icon-thermometer:before {
	content: "\e66c";
}
.icon-droplets:before {
	content: "\e66d";
}
.icon-uniE66E:before {
	content: "\e66e";
}
.icon-statistics:before {
	content: "\e66f";
}
.icon-pie:before {
	content: "\e670";
}
.icon-bars:before {
	content: "\e671";
}
.icon-graph:before {
	content: "\e672";
}
.icon-lock:before {
	content: "\e673";
}
.icon-lock-open:before {
	content: "\e674";
}
.icon-logout:before {
	content: "\e675";
}
.icon-login:before {
	content: "\e676";
}
.icon-checkmark:before {
	content: "\e677";
}
.icon-cross:before {
	content: "\e678";
}
.icon-minus:before {
	content: "\e679";
}
.icon-plus:before {
	content: "\e67a";
}
.icon-cross2:before {
	content: "\e67b";
}
.icon-minus2:before {
	content: "\e67c";
}
.icon-plus2:before {
	content: "\e67d";
}
.icon-cross3:before {
	content: "\e67e";
}
.icon-minus3:before {
	content: "\e67f";
}
.icon-plus3:before {
	content: "\e680";
}
.icon-erase:before {
	content: "\e681";
}
.icon-blocked:before {
	content: "\e682";
}
.icon-info:before {
	content: "\e683";
}
.icon-info2:before {
	content: "\e684";
}
.icon-question:before {
	content: "\e685";
}
.icon-help:before {
	content: "\e686";
}
.icon-warning:before {
	content: "\e687";
}
.icon-cycle:before {
	content: "\e688";
}
.icon-cw:before {
	content: "\e689";
}
.icon-ccw:before {
	content: "\e68a";
}
.icon-shuffle:before {
	content: "\e68b";
}
.icon-arrow:before {
	content: "\e68c";
}
.icon-arrow2:before {
	content: "\e68d";
}
.icon-retweet:before {
	content: "\e68e";
}
.icon-loop:before {
	content: "\e68f";
}
.icon-history:before {
	content: "\e690";
}
.icon-back:before {
	content: "\e691";
}
.icon-switch:before {
	content: "\e692";
}
.icon-list:before {
	content: "\e693";
}
.icon-add-to-list:before {
	content: "\e694";
}
.icon-layout:before {
	content: "\e695";
}
.icon-list2:before {
	content: "\e696";
}
.icon-text:before {
	content: "\e697";
}
.icon-text2:before {
	content: "\e698";
}
.icon-document:before {
	content: "\e699";
}
.icon-docs:before {
	content: "\e69a";
}
.icon-landscape:before {
	content: "\e69b";
}
.icon-pictures:before {
	content: "\e69c";
}
.icon-video:before {
	content: "\e69d";
}
.icon-music3:before {
	content: "\e69e";
}
.icon-folder:before {
	content: "\e69f";
}
.icon-archive:before {
	content: "\e6a0";
}
.icon-trash:before {
	content: "\e6a1";
}
.icon-upload:before {
	content: "\e6a2";
}
.icon-download:before {
	content: "\e6a3";
}
.icon-disk:before {
	content: "\e6a4";
}
.icon-install:before {
	content: "\e6a5";
}
.icon-cloud:before {
	content: "\e6a6";
}
.icon-upload2:before {
	content: "\e6a7";
}
.icon-bookmark:before {
	content: "\e6a8";
}
.icon-bookmarks:before {
	content: "\e6a9";
}
.icon-book2:before {
	content: "\e6aa";
}
.icon-play:before {
	content: "\e6ab";
}
.icon-pause:before {
	content: "\e6ac";
}
.icon-record:before {
	content: "\e6ad";
}
.icon-stop:before {
	content: "\e6ae";
}
.icon-next:before {
	content: "\e6af";
}
.icon-previous:before {
	content: "\e6b0";
}
.icon-first:before {
	content: "\e6b1";
}
.icon-last:before {
	content: "\e6b2";
}
.icon-resize-enlarge:before {
	content: "\e6b3";
}
.icon-resize-shrink:before {
	content: "\e6b4";
}
.icon-volume:before {
	content: "\e6b5";
}
.icon-sound:before {
	content: "\e6b6";
}
.icon-mute:before {
	content: "\e6b7";
}
.icon-flow-cascade:before {
	content: "\e6b8";
}
.icon-flow-branch:before {
	content: "\e6b9";
}
.icon-flow-tree:before {
	content: "\e6ba";
}
.icon-flow-line:before {
	content: "\e6bb";
}
.icon-flow-parallel:before {
	content: "\e6bc";
}
.icon-arrow-left:before {
	content: "\e6bd";
}
.icon-arrow-down:before {
	content: "\e6be";
}
.icon-arrow-up--upload:before {
	content: "\e6bf";
}
.icon-arrow-right:before {
	content: "\e6c0";
}
.icon-arrow-left2:before {
	content: "\e6c1";
}
.icon-arrow-down2:before {
	content: "\e6c2";
}
.icon-arrow-up:before {
	content: "\e6c3";
}
.icon-arrow-right2:before {
	content: "\e6c4";
}
.icon-arrow-left3:before {
	content: "\e6c5";
}
.icon-arrow-down3:before {
	content: "\e6c6";
}
.icon-arrow-up2:before {
	content: "\e6c7";
}
.icon-arrow-right3:before {
	content: "\e6c8";
}
.icon-arrow-left4:before {
	content: "\e6c9";
}
.icon-arrow-down4:before {
	content: "\e6ca";
}
.icon-arrow-up3:before {
	content: "\e6cb";
}
.icon-arrow-right4:before {
	content: "\e6cc";
}
.icon-arrow-left5:before {
	content: "\e6cd";
}
.icon-arrow-down5:before {
	content: "\e6ce";
}
.icon-arrow-up4:before {
	content: "\e6cf";
}
.icon-arrow-right5:before {
	content: "\e6d0";
}
.icon-arrow-left6:before {
	content: "\e6d1";
}
.icon-arrow-down6:before {
	content: "\e6d2";
}
.icon-arrow-up5:before {
	content: "\e6d3";
}
.icon-arrow-right6:before {
	content: "\e6d4";
}
.icon-arrow-left7:before {
	content: "\e6d5";
}
.icon-arrow-down7:before {
	content: "\e6d6";
}
.icon-arrow-up6:before {
	content: "\e6d7";
}
.icon-uniE6D8:before {
	content: "\e6d8";
}
.icon-arrow-left8:before {
	content: "\e6d9";
}
.icon-arrow-down8:before {
	content: "\e6da";
}
.icon-arrow-up7:before {
	content: "\e6db";
}
.icon-arrow-right7:before {
	content: "\e6dc";
}
.icon-menu:before {
	content: "\e6dd";
}
.icon-ellipsis:before {
	content: "\e6de";
}
.icon-dots:before {
	content: "\e6df";
}
.icon-dot:before {
	content: "\e6e0";
}
.icon-cc:before {
	content: "\e6e1";
}
.icon-cc-by:before {
	content: "\e6e2";
}
.icon-cc-nc:before {
	content: "\e6e3";
}
.icon-cc-nc-eu:before {
	content: "\e6e4";
}
.icon-cc-nc-jp:before {
	content: "\e6e5";
}
.icon-cc-sa:before {
	content: "\e6e6";
}
.icon-cc-nd:before {
	content: "\e6e7";
}
.icon-cc-pd:before {
	content: "\e6e8";
}
.icon-cc-zero:before {
	content: "\e6e9";
}
.icon-cc-share:before {
	content: "\e6ea";
}
.icon-cc-share2:before {
	content: "\e6eb";
}
.icon-daniel-bruce:before {
	content: "\e6ec";
}
.icon-daniel-bruce2:before {
	content: "\e6ed";
}
.icon-github:before {
	content: "\e6ee";
}
.icon-github2:before {
	content: "\e6ef";
}
.icon-flickr:before {
	content: "\e6f0";
}
.icon-flickr2:before {
	content: "\e6f1";
}
.icon-vimeo:before {
	content: "\e6f2";
}
.icon-vimeo2:before {
	content: "\e6f3";
}
.icon-twitter:before {
	content: "\e6f4";
}
.icon-twitter2:before {
	content: "\e6f5";
}
.icon-facebook:before {
	content: "\e6f6";
}
.icon-facebook2:before {
	content: "\e6f7";
}
.icon-facebook3:before {
	content: "\e6f8";
}
.icon-googleplus:before {
	content: "\e6f9";
}
.icon-googleplus2:before {
	content: "\e6fa";
}
.icon-pinterest:before {
	content: "\e6fb";
}
.icon-pinterest2:before {
	content: "\e6fc";
}
.icon-tumblr:before {
	content: "\e6fd";
}
.icon-tumblr2:before {
	content: "\e6fe";
}
.icon-linkedin:before {
	content: "\e6ff";
}
.icon-linkedin2:before {
	content: "\e700";
}
.icon-dribbble:before {
	content: "\e701";
}
.icon-dribbble2:before {
	content: "\e702";
}
.icon-stumbleupon:before {
	content: "\e703";
}
.icon-stumbleupon2:before {
	content: "\e704";
}
.icon-lastfm:before {
	content: "\e705";
}
.icon-lastfm2:before {
	content: "\e706";
}
.icon-rdio:before {
	content: "\e707";
}
.icon-rdio2:before {
	content: "\e708";
}
.icon-spotify:before {
	content: "\e709";
}
.icon-spotify2:before {
	content: "\e70a";
}
.icon-qq:before {
	content: "\e70b";
}
.icon-instagram:before {
	content: "\e70c";
}
.icon-dropbox:before {
	content: "\e70d";
}
.icon-evernote:before {
	content: "\e70e";
}
.icon-flattr:before {
	content: "\e70f";
}
.icon-skype:before {
	content: "\e710";
}
.icon-skype2:before {
	content: "\e711";
}
.icon-renren:before {
	content: "\e712";
}
.icon-sina-weibo:before {
	content: "\e713";
}
.icon-paypal:before {
	content: "\e714";
}
.icon-picasa:before {
	content: "\e715";
}
.icon-soundcloud:before {
	content: "\e716";
}
.icon-mixi:before {
	content: "\e717";
}
.icon-behance:before {
	content: "\e718";
}
.icon-circles:before {
	content: "\e719";
}
.icon-vk:before {
	content: "\e71a";
}
.icon-smashing:before {
	content: "\e71b";
}
.icon-glass:before {
	content: "\e71c";
}
.icon-music4:before {
	content: "\e71d";
}
.icon-search2:before {
	content: "\e71e";
}
.icon-envelope:before {
	content: "\e71f";
}
.icon-heart3:before {
	content: "\e720";
}
.icon-star3:before {
	content: "\e721";
}
.icon-star-empty:before {
	content: "\e722";
}
.icon-user2:before {
	content: "\e723";
}
.icon-film:before {
	content: "\e724";
}
.icon-th-large:before {
	content: "\e725";
}
.icon-th:before {
	content: "\e726";
}
.icon-th-list:before {
	content: "\e727";
}
.icon-ok:before {
	content: "\e728";
}
.icon-remove:before {
	content: "\e729";
}
.icon-zoom-in:before {
	content: "\e72a";
}
.icon-zoom-out:before {
	content: "\e72b";
}
.icon-off:before {
	content: "\e72c";
}
.icon-signal2:before {
	content: "\e72d";
}
.icon-cog2:before {
	content: "\e72e";
}
.icon-trash2:before {
	content: "\e72f";
}
.icon-home:before {
	content: "\e730";
}
.icon-file:before {
	content: "\e731";
}
.icon-time:before {
	content: "\e732";
}
.icon-road:before {
	content: "\e733";
}
.icon-download-alt:before {
	content: "\e734";
}
.icon-download2:before {
	content: "\e735";
}
.icon-upload3:before {
	content: "\e736";
}
.icon-inbox:before {
	content: "\e737";
}
.icon-play-circle:before {
	content: "\e738";
}
.icon-repeat:before {
	content: "\e739";
}
.icon-refresh:before {
	content: "\e73a";
}
.icon-list-alt:before {
	content: "\e73b";
}
.icon-lock2:before {
	content: "\e73c";
}
.icon-flag2:before {
	content: "\e73d";
}
.icon-headphones:before {
	content: "\e73e";
}
.icon-volume-off:before {
	content: "\e73f";
}
.icon-volume-down:before {
	content: "\e740";
}
.icon-volume-up:before {
	content: "\e741";
}
.icon-qrcode:before {
	content: "\e742";
}
.icon-barcode:before {
	content: "\e743";
}
.icon-tag2:before {
	content: "\e744";
}
.icon-tags:before {
	content: "\e745";
}
.icon-book3:before {
	content: "\e746";
}
.icon-bookmark2:before {
	content: "\e747";
}
.icon-print:before {
	content: "\e748";
}
.icon-camera2:before {
	content: "\e749";
}
.icon-font:before {
	content: "\e74a";
}
.icon-bold:before {
	content: "\e74b";
}
.icon-italic:before {
	content: "\e74c";
}
.icon-text-height:before {
	content: "\e74d";
}
.icon-text-width:before {
	content: "\e74e";
}
.icon-align-left:before {
	content: "\e74f";
}
.icon-align-center:before {
	content: "\e750";
}
.icon-align-right:before {
	content: "\e751";
}
.icon-align-justify:before {
	content: "\e752";
}
.icon-list3:before {
	content: "\e753";
}
.icon-indent-left:before {
	content: "\e754";
}
.icon-indent-right:before {
	content: "\e755";
}
.icon-facetime-video:before {
	content: "\e756";
}
.icon-picture:before {
	content: "\e757";
}
.icon-pencil2:before {
	content: "\e758";
}
.icon-map-marker:before {
	content: "\e759";
}
.icon-adjust2:before {
	content: "\e75a";
}
.icon-tint:before {
	content: "\e75b";
}
.icon-edit:before {
	content: "\e75c";
}
.icon-share2:before {
	content: "\e75d";
}
.icon-check:before {
	content: "\e75e";
}
.icon-move:before {
	content: "\e75f";
}
.icon-step-backward:before {
	content: "\e760";
}
.icon-fast-backward:before {
	content: "\e761";
}
.icon-backward:before {
	content: "\e762";
}
.icon-play2:before {
	content: "\e763";
}
.icon-pause2:before {
	content: "\e764";
}
.icon-stop2:before {
	content: "\e765";
}
.icon-forward2:before {
	content: "\e766";
}
.icon-fast-forward:before {
	content: "\e767";
}
.icon-step-forward:before {
	content: "\e768";
}
.icon-eject:before {
	content: "\e769";
}
.icon-chevron-left:before {
	content: "\e76a";
}
.icon-chevron-right:before {
	content: "\e76b";
}
.icon-plus-sign:before {
	content: "\e76c";
}
.icon-minus-sign:before {
	content: "\e76d";
}
.icon-remove-sign:before {
	content: "\e76e";
}
.icon-ok-sign:before {
	content: "\e76f";
}
.icon-question-sign:before {
	content: "\e770";
}
.icon-info-sign:before {
	content: "\e771";
}
.icon-screenshot:before {
	content: "\e772";
}
.icon-remove-circle:before {
	content: "\e773";
}
.icon-ok-circle:before {
	content: "\e774";
}
.icon-ban-circle:before {
	content: "\e775";
}
.icon-arrow-left9:before {
	content: "\e776";
}
.icon-arrow-right8:before {
	content: "\e777";
}
.icon-arrow-up8:before {
	content: "\e778";
}
.icon-arrow-down9:before {
	content: "\e779";
}
.icon-share-alt:before {
	content: "\e77a";
}
.icon-resize-full:before {
	content: "\e77b";
}
.icon-resize-small:before {
	content: "\e77c";
}
.icon-plus4:before {
	content: "\e77d";
}
.icon-minus4:before {
	content: "\e77e";
}
.icon-asterisk:before {
	content: "\e77f";
}
.icon-exclamation-sign:before {
	content: "\e780";
}
.icon-gift:before {
	content: "\e781";
}
.icon-leaf2:before {
	content: "\e782";
}
.icon-fire:before {
	content: "\e783";
}
.icon-eye-open:before {
	content: "\e784";
}
.icon-eye-close:before {
	content: "\e785";
}
.icon-warning-sign:before {
	content: "\e786";
}
.icon-plane:before {
	content: "\e787";
}
.icon-calendar2:before {
	content: "\e788";
}
.icon-random:before {
	content: "\e789";
}
.icon-comment2:before {
	content: "\e78a";
}
.icon-magnet2:before {
	content: "\e78b";
}
.icon-chevron-up:before {
	content: "\e78c";
}
.icon-chevron-down:before {
	content: "\e78d";
}
.icon-retweet2:before {
	content: "\e78e";
}
.icon-shopping-cart:before {
	content: "\e78f";
}
.icon-folder-close:before {
	content: "\e790";
}
.icon-folder-open:before {
	content: "\e791";
}
.icon-resize-vertical:before {
	content: "\e792";
}
.icon-resize-horizontal:before {
	content: "\e793";
}
.icon-bar-chart:before {
	content: "\e794";
}
.icon-twitter-sign:before {
	content: "\e795";
}
.icon-facebook-sign:before {
	content: "\e796";
}
.icon-camera-retro:before {
	content: "\e797";
}
.icon-key2:before {
	content: "\e798";
}
.icon-cogs:before {
	content: "\e799";
}
.icon-comments:before {
	content: "\e79a";
}
.icon-thumbs-up2:before {
	content: "\e79b";
}
.icon-thumbs-down2:before {
	content: "\e79c";
}
.icon-star-half:before {
	content: "\e79d";
}
.icon-heart-empty:before {
	content: "\e79e";
}
.icon-signout:before {
	content: "\e79f";
}
.icon-linkedin-sign:before {
	content: "\e7a0";
}
.icon-pushpin:before {
	content: "\e7a1";
}
.icon-external-link:before {
	content: "\e7a2";
}
.icon-signin:before {
	content: "\e7a3";
}
.icon-trophy2:before {
	content: "\e7a4";
}
.icon-github-sign:before {
	content: "\e7a5";
}
.icon-upload-alt:before {
	content: "\e7a6";
}
.icon-lemon:before {
	content: "\e7a7";
}
.icon-phone2:before {
	content: "\e7a8";
}
.icon-check-empty:before {
	content: "\e7a9";
}
.icon-bookmark-empty:before {
	content: "\e7aa";
}
.icon-phone-sign:before {
	content: "\e7ab";
}
.icon-twitter3:before {
	content: "\e7ac";
}
.icon-facebook4:before {
	content: "\e7ad";
}
.icon-github3:before {
	content: "\e7ae";
}
.icon-unlock:before {
	content: "\e7af";
}
.icon-credit:before {
	content: "\e7b0";
}
.icon-rss2:before {
	content: "\e7b1";
}
.icon-hdd:before {
	content: "\e7b2";
}
.icon-bullhorn:before {
	content: "\e7b3";
}
.icon-bell2:before {
	content: "\e7b4";
}
.icon-certificate:before {
	content: "\e7b5";
}
.icon-hand-right:before {
	content: "\e7b6";
}
.icon-hand-left:before {
	content: "\e7b7";
}
.icon-hand-up:before {
	content: "\e7b8";
}
.icon-hand-down:before {
	content: "\e7b9";
}
.icon-circle-arrow-left:before {
	content: "\e7ba";
}
.icon-circle-arrow-right:before {
	content: "\e7bb";
}
.icon-circle-arrow-up:before {
	content: "\e7bc";
}
.icon-circle-arrow-down:before {
	content: "\e7bd";
}
.icon-globe:before {
	content: "\e7be";
}
.icon-wrench:before {
	content: "\e7bf";
}
.icon-tasks:before {
	content: "\e7c0";
}
.icon-filter:before {
	content: "\e7c1";
}
.icon-briefcase2:before {
	content: "\e7c2";
}
.icon-fullscreen:before {
	content: "\e7c3";
}
.icon-group:before {
	content: "\e7c4";
}
.icon-link2:before {
	content: "\e7c5";
}
.icon-cloud2:before {
	content: "\e7c6";
}
.icon-beaker:before {
	content: "\e7c7";
}
.icon-cut:before {
	content: "\e7c8";
}
.icon-copy:before {
	content: "\e7c9";
}
.icon-paper-clip:before {
	content: "\e7ca";
}
.icon-save:before {
	content: "\e7cb";
}
.icon-sign-blank:before {
	content: "\e7cc";
}
.icon-reorder:before {
	content: "\e7cd";
}
.icon-list-ul:before {
	content: "\e7ce";
}
.icon-list-ol:before {
	content: "\e7cf";
}
.icon-strikethrough:before {
	content: "\e7d0";
}
.icon-underline:before {
	content: "\e7d1";
}
.icon-table:before {
	content: "\e7d2";
}
.icon-magic:before {
	content: "\e7d3";
}
.icon-truck:before {
	content: "\e7d4";
}
.icon-pinterest3:before {
	content: "\e7d5";
}
.icon-pinterest-sign:before {
	content: "\e7d6";
}
.icon-google-plus-sign:before {
	content: "\e7d7";
}
.icon-google-plus:before {
	content: "\e7d8";
}
.icon-money:before {
	content: "\e7d9";
}
.icon-caret-down:before {
	content: "\e7da";
}
.icon-caret-up:before {
	content: "\e7db";
}
.icon-caret-left:before {
	content: "\e7dc";
}
.icon-caret-right:before {
	content: "\e7dd";
}
.icon-columns:before {
	content: "\e7de";
}
.icon-sort:before {
	content: "\e7df";
}
.icon-sort-down:before {
	content: "\e7e0";
}
.icon-sort-up:before {
	content: "\e7e1";
}
.icon-envelope-alt:before {
	content: "\e7e2";
}
.icon-linkedin3:before {
	content: "\e7e3";
}
.icon-undo:before {
	content: "\e7e4";
}
.icon-legal:before {
	content: "\e7e5";
}
.icon-dashboard:before {
	content: "\e7e6";
}
.icon-comment-alt:before {
	content: "\e7e7";
}
.icon-comments-alt:before {
	content: "\e7e8";
}
.icon-bolt2:before {
	content: "\e7e9";
}
.icon-sitemap:before {
	content: "\e7ea";
}
.icon-umbrella:before {
	content: "\e7eb";
}
.icon-paste:before {
	content: "\e7ec";
}
.icon-lightbulb:before {
	content: "\e7ed";
}
.icon-exchange:before {
	content: "\e7ee";
}
.icon-cloud-download:before {
	content: "\e7ef";
}
.icon-cloud-upload:before {
	content: "\e7f0";
}
.icon-user-md:before {
	content: "\e7f1";
}
.icon-stethoscope:before {
	content: "\e7f2";
}
.icon-suitcase2:before {
	content: "\e7f3";
}
.icon-bell-alt:before {
	content: "\e7f4";
}
.icon-coffee:before {
	content: "\e7f5";
}
.icon-food:before {
	content: "\e7f6";
}
.icon-file-alt:before {
	content: "\e7f7";
}
.icon-building:before {
	content: "\e7f8";
}
.icon-hospital:before {
	content: "\e7f9";
}
.icon-ambulance:before {
	content: "\e7fa";
}
.icon-medkit:before {
	content: "\e7fb";
}
.icon-fighter-jet:before {
	content: "\e7fc";
}
.icon-beer:before {
	content: "\e7fd";
}
.icon-h-sign:before {
	content: "\e7fe";
}
.icon-plus-sign2:before {
	content: "\e7ff";
}
.icon-double-angle-left:before {
	content: "\e800";
}
.icon-double-angle-right:before {
	content: "\e801";
}
.icon-double-angle-up:before {
	content: "\e802";
}
.icon-double-angle-down:before {
	content: "\e803";
}
.icon-angle-left:before {
	content: "\e804";
}
.icon-angle-right:before {
	content: "\e805";
}
.icon-angle-up:before {
	content: "\e806";
}
.icon-angle-down:before {
	content: "\e807";
}
.icon-desktop:before {
	content: "\e808";
}
.icon-laptop:before {
	content: "\e809";
}
.icon-tablet:before {
	content: "\e80a";
}
.icon-mobile2:before {
	content: "\e80b";
}
.icon-circle-blank:before {
	content: "\e80c";
}
.icon-quote-left:before {
	content: "\e80d";
}
.icon-quote-right:before {
	content: "\e80e";
}
.icon-spinner:before {
	content: "\e80f";
}
.icon-circle:before {
	content: "\e810";
}
.icon-reply2:before {
	content: "\e811";
}
.icon-github-alt:before {
	content: "\e812";
}
.icon-folder-close-alt:before {
	content: "\e813";
}
.icon-folder-open-alt:before {
	content: "\e814";
}
.icon-expand-alt:before {
	content: "\e815";
}
.icon-collapse-alt:before {
	content: "\e816";
}
.icon-smile:before {
	content: "\e817";
}
.icon-frown:before {
	content: "\e818";
}
.icon-meh:before {
	content: "\e819";
}
.icon-gamepad:before {
	content: "\e81a";
}
.icon-keyboard2:before {
	content: "\e81b";
}
.icon-flag-alt:before {
	content: "\e81c";
}
.icon-flag-checkered:before {
	content: "\e81d";
}
.icon-terminal:before {
	content: "\e81e";
}
.icon-code2:before {
	content: "\e81f";
}
.icon-reply-all2:before {
	content: "\e820";
}
.icon-star-half-full:before {
	content: "\e821";
}
.icon-location-arrow:before {
	content: "\e822";
}
.icon-crop:before {
	content: "\e823";
}
.icon-code-fork:before {
	content: "\e824";
}
.icon-unlink:before {
	content: "\e825";
}
.icon-question2:before {
	content: "\e826";
}
.icon-info3:before {
	content: "\e827";
}
.icon-exclamation:before {
	content: "\e828";
}
.icon-superscript:before {
	content: "\e829";
}
.icon-subscript:before {
	content: "\e82a";
}
.icon-eraser:before {
	content: "\e82b";
}
.icon-puzzle:before {
	content: "\e82c";
}
.icon-microphone2:before {
	content: "\e82d";
}
.icon-microphone-off:before {
	content: "\e82e";
}
.icon-shield:before {
	content: "\e82f";
}
.icon-calendar-empty:before {
	content: "\e830";
}
.icon-fire-extinguisher:before {
	content: "\e831";
}
.icon-rocket2:before {
	content: "\e832";
}
.icon-maxcdn:before {
	content: "\e833";
}
.icon-chevron-sign-left:before {
	content: "\e834";
}
.icon-chevron-sign-right:before {
	content: "\e835";
}
.icon-chevron-sign-up:before {
	content: "\e836";
}
.icon-chevron-sign-down:before {
	content: "\e837";
}
.icon-html5:before {
	content: "\e838";
}
.icon-css3:before {
	content: "\e839";
}
.icon-anchor:before {
	content: "\e83a";
}
.icon-unlock-alt:before {
	content: "\e83b";
}
.icon-bullseye:before {
	content: "\e83c";
}
.icon-ellipsis-horizontal:before {
	content: "\e83d";
}
.icon-ellipsis-vertical:before {
	content: "\e83e";
}
.icon-rss-sign:before {
	content: "\e83f";
}
.icon-play-sign:before {
	content: "\e840";
}
.icon-ticket2:before {
	content: "\e841";
}
.icon-minus-sign-alt:before {
	content: "\e842";
}
.icon-check-minus:before {
	content: "\e843";
}
.icon-level-up:before {
	content: "\e844";
}
.icon-level-down:before {
	content: "\e845";
}
.icon-check-sign:before {
	content: "\e846";
}
.icon-edit-sign:before {
	content: "\e847";
}
.icon-external-link-sign:before {
	content: "\e848";
}
.icon-share-sign:before {
	content: "\e849";
}
.icon-compass2:before {
	content: "\e84a";
}
.icon-collapse:before {
	content: "\e84b";
}
.icon-collapse-top:before {
	content: "\e84c";
}
.icon-expand:before {
	content: "\e84d";
}
.icon-euro:before {
	content: "\e84e";
}
.icon-gbp:before {
	content: "\e84f";
}
.icon-dollar:before {
	content: "\e850";
}
.icon-rupee:before {
	content: "\e851";
}
.icon-yen:before {
	content: "\e852";
}
.icon-renminbi:before {
	content: "\e853";
}
.icon-won:before {
	content: "\e854";
}
.icon-bitcoin:before {
	content: "\e855";
}
.icon-file2:before {
	content: "\e856";
}
.icon-file-text:before {
	content: "\e857";
}
.icon-sort-by-alphabet:before {
	content: "\e858";
}
.icon-sort-by-alphabet-alt:before {
	content: "\e859";
}
.icon-sort-by-attributes:before {
	content: "\e85a";
}
.icon-sort-by-attributes-alt:before {
	content: "\e85b";
}
.icon-sort-by-order:before {
	content: "\e85c";
}
.icon-sort-by-order-alt:before {
	content: "\e85d";
}
.icon-thumbs-up3:before {
	content: "\e85e";
}
.icon-thumbs-down3:before {
	content: "\e85f";
}
.icon-youtube-sign:before {
	content: "\e860";
}
.icon-youtube:before {
	content: "\e861";
}
.icon-xing:before {
	content: "\e862";
}
.icon-xing-sign:before {
	content: "\e863";
}
.icon-youtube-play:before {
	content: "\e864";
}
.icon-dropbox2:before {
	content: "\e865";
}
.icon-stackexchange:before {
	content: "\e866";
}
.icon-instagram2:before {
	content: "\e867";
}
.icon-flickr3:before {
	content: "\e868";
}
.icon-adn:before {
	content: "\e869";
}
.icon-bitbucket:before {
	content: "\e86a";
}
.icon-bitbucket-sign:before {
	content: "\e86b";
}
.icon-tumblr3:before {
	content: "\e86c";
}
.icon-tumblr-sign:before {
	content: "\e86d";
}
.icon-long-arrow-down:before {
	content: "\e86e";
}
.icon-long-arrow-up:before {
	content: "\e86f";
}
.icon-long-arrow-left:before {
	content: "\e870";
}
.icon-long-arrow-right:before {
	content: "\e871";
}
.icon-apple:before {
	content: "\e872";
}
.icon-windows:before {
	content: "\e873";
}
.icon-android:before {
	content: "\e874";
}
.icon-linux:before {
	content: "\e875";
}
.icon-dribbble3:before {
	content: "\e876";
}
.icon-skype3:before {
	content: "\e877";
}
.icon-foursquare:before {
	content: "\e878";
}
.icon-trello:before {
	content: "\e879";
}
.icon-female:before {
	content: "\e87a";
}
.icon-male:before {
	content: "\e87b";
}
.icon-gittip:before {
	content: "\e87c";
}
.icon-sun3:before {
	content: "\e87d";
}
.icon-moon2:before {
	content: "\e87e";
}
.icon-archive2:before {
	content: "\e87f";
}
.icon-bug:before {
	content: "\e880";
}
.icon-vk2:before {
	content: "\e881";
}
.icon-weibo:before {
	content: "\e882";
}
.icon-renren2:before {
	content: "\e883";
}
