body,html {
	position: relative;
	height: 100%;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-wrapper {
	height: 100%;
}
.swiper-slide {
	text-align: center;
	height: 100%;
	/*width: 25%;*/
}
.swiper-slide img {
	vertical-align: middle;
	display: block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	position: relative;
	left: -10px;
	top: -10px;
	box-shadow: 0px 2px 5px rgba(0,0,0,1);
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-backface-visibility: hidden;
	opacity: 0.3;
}
.swiper-slide-active img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.swiper-slide .inner {
	height: 100%;
	padding: 20px 20px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.swiper-slide .inner .title{
	font: 300 54px 'Open Sans', sans-serif;	
	color: #fff;
	margin-bottom: 80px;
}
.previous-swiper, .next-swiper{
	background: #c7c1bc;
	background: rgba(255,255,255, .6);
	position: absolute;
	z-index: 20;
	top: 60%;
	width: 55px;
	height: 55px;
	line-height: 65px;
	border-radius: 50%;
	color: #485460;
	text-align: center;
	font-size: 1.8em;
}
.previous-swiper:hover, .next-swiper:hover{
	background: #fff;
	cursor: pointer;
}

.previous-swiper{
	left: 5%;
}
.next-swiper{
	right: 5%;
}
.pagination {
	position: absolute;
	text-align: center;
	left: 0;
	top: 270px;
	width: 100%;
	line-height: 40px;
	height: 40px;
	z-index: 20;
}
.swiper-pagination-switch {
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #cbcaca;
	background: rgba( 255,255,255, .8);
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	margin: 0 4px;
}
/*.swiper-pagination-switch:first-child {
	border-radius: 3px 0 0 3px;
}
.swiper-pagination-switch:last-child {
	border-radius: 0 3px 3px 0;
}*/
.swiper-visible-switch {
	background: #cbcaca;
	background: rgba( 255,255,255, .8);
}
.swiper-active-switch {
	background: #fff;
}
@media only screen and ( max-width: 767px ) {
    .previous-swiper, .next-swiper{
        top: 50%;
    }
}

@media only screen and ( max-width: 640px ) {
    .previous-swiper, .next-swiper{
        display: none;
    }
}
@media only screen and ( max-width: 360px ){
    .pagination {
    	display: none;
    }
    .swiper-slide .inner .title {
        font-size: 44px;
    }
}