/*
|--------------------------------------------------------------------------
|  BrightLight
|  http://brightlight.innovacionesweb.info
|--------------------------------------------------------------------------
| 1.0 Global Styles
| 
|
|
| 
|
|
| 
|
|
| 
|
|
| 
|
*/

/*
|--------------------------------------------------------------------------
|  1.0 Global Styles - Variables
|  
|--------------------------------------------------------------------------
|
| 
|
*/

@import "../../less/mixins.less";
// @import "../../less/buttons.less";
@import "../../less/component-animations.less";

@openS : 'Open Sans', sans-serif;
body, p, a{
  font-family: @openS;
}
h1,h2,h3,h4,h5,h6{
  font-family: @openS;
  color: #fff;
}
.center{
  text-align: center;
}
.center-col{
  float: none;
  margin: 0 auto;
}
.container{
  padding: 0 14px;
}
.btn-light-gray {
  .button-variant(#fff; #485460; #485460);
  font-family: @openS;
  font-weight: 300;
  font-size: 14px;
  .transition(all .3s ease-in-out);
}
.no-border-radius{
  border-radius: 0;
}
.btn-xxlarge{
  padding: 16px 65px;
  font: 18px @openS;
}
.btn-danger{
  .button-variant(#fff; #e76b5c; #e76b5c);
  font-family: @openS;
  font-weight: 300;
  font-size: 14px;
  .transition(all .3s ease-in-out);
}
// Warning
.has-warning {
  .form-control-validation(#485460; #e76b5c; #fff);
}
// Error
.has-error {
  .form-control-validation(#485460; #e76b5c; #fff);
}
// Success
.has-success {
  .form-control-validation(#485460; #e76b5c; #fff);
}


/*
|--------------------------------------------------------------------------
|  2.0 Navigation Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.navbar-wrapper{
  position: absolute;
  right: 0;
  top: 60px;
  left: 0;
  z-index: 15;
}
.navbar-brand {
  padding-left: 3px;
}
.navbar-default{
  background-color: transparent;
  border: 0;
  .navbar-nav {
    .search-container{
      display: inline-block;
      padding: 10px;
      background-color: #FFF;
      border-radius: 50%;
      color: #363f48;
      position: relative;
      top: -10px;
      width: 39px;
      text-align: center;
      height: 37px;
      line-height: 10px;
    }
	.sb-container-open{
		width: 100%;
		top: -52px;
		right: 15px;
	}
    > li{
      margin-left: 15px;
    }
    > li > a {
      color: #fff;
      font-family: @openS;
      font-weight: 500;
      font-size: 16px;
      border-bottom: 2px solid transparent;
      .transition(all .3s ease-in);

      &:hover,
      &:focus {
        color: #fff;
        background-color: transparent;
        border-bottom: 2px solid #fff;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        border-bottom: 2px solid #fff;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: #fff;
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
|  3.0 LayerSlider Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.layerslider-container{
  background-color: #e76b5c;
  #layerslider, #layerslider2{
    .text{
      color: #fff;
      font-size: 64px;
      font-weight: 300;
      font-family: @openS;
    }
  }
}

/*
|--------------------------------------------------------------------------
|  4.0 Tagline Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.tag-line{
  padding: 40px 0;
  background-color: #363f48;
  .subtitle{
    color:#fff;
    font-size: 26px;
    font-weight: 300;
    margin-top: 0;
  }
  .title{
    color: #e76b5c;
    font-size: 36px;
    font-weight: 600;
    margin-top: 0;
  }
  .tag-info{
    margin: 20px 0;
    border-top: 1px solid #485460;
    .subtitle{
      font-size: 20px;
      padding: 30px 0 15px;
      margin-top: 0;
    }
  }

  .tag-info-bx1{
    padding-bottom: 30px;
  }
  .tag-info-bx2{
    border-right: 1px solid #485460;
    border-left: 1px solid #485460;
    padding-bottom: 30px;
    .title{
      color: #fff;
      margin-top: 0;
      font-weight: 600;
      font-size: 20px;
    }
  }

}
.socials{
  > li > a{
    text-align: center;
    &:hover{
      text-decoration: none;
      .icn-container{
        background-color: #9ba4ae;
      }
    }
  }
  .icn-container{
    .transition(all .3s ease-in);
    background-color: #485460;
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
  }
}
.contact-list{
  > li {
    padding-left: 0;
    > a{
      color: #fff;
      font: 300 14px @openS;
    }
  }
  .icn-container{
    margin-right: 5px;
  }
}



/*
|--------------------------------------------------------------------------
|  5.0 Expertise Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.expertise{
  background: transparent url(../img/expertise/expertise.jpg) no-repeat fixed 0 0;
  padding: 30px 0 60px;
  .expertise-titles{
    .title{
      color: #e76b5c;
      font-size: 52px;
      font-weight: 300;
    }
    .sub-title{
      color: #485460;
      font-size: 22px;
      font-weight: 300;
    }
  }
  .expertise-columns{
    padding: 30px 0;
    margin-top: 60px;
    .expertise-content-container{
      background-color: #FFF;
      padding: 70px 20px 30px;
      position: relative;
      .icn-main-container{
        top: -50px;
        position: absolute;
        left: 0;
        right: 0;
        .icn-container{
          display: inline-block;
          width: 100px;
          height: 100px;
          padding: 25px;
          text-align: center;
          font-size: 2.4em;
          line-height: 1.2;
          color: #fff;
          border-radius: 50%;
          background-color: #e76b5c;
        }
      }
      .title{
        line-height: 30px;
        font-size: 22px;
        font-weight: 500;
        color: #485460;
        margin-bottom: 30px;
      }
      .content{
        color: #485460;
        font-size: 13px;
        margin-bottom: 40px;
      }
      .btn-light-gray{
        padding: 12px 45px;
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
|  6.0 Latest Work Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.latest-work{
  padding: 40px 0;
  .latest-work-titles{
    .title{
      margin-top: 0;
      font-weight: 300;
      color: #485460;
      font-size: 52px;
    }
    .sub-title{
      margin-top: 0;
      font-weight: 300;
      font-size: 22px;
      color: #485460;
      margin-bottom: 8px;
    }

  }
}

/*
|--------------------------------------------------------------------------
|  7.0 Latest Work Columns Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.latest-work-columns{
  margin-bottom: 40px;
  .portfolio-items-container{
		  width: 33%;
  }
  .item-image{
    position: relative;
    .overlay-container{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #485460;
      background-color: rgba(72,84,96,0.85);
      visibility: hidden;
      .opacity(0);
      .transition( all .4s ease-in-out );
      .content-title{
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        .icn-container{
          border: 2px solid #e76b5c;
          display: inline-block;
          width: 45px;
          height: 45px;
          line-height: 45px;
          color: #fff;
          text-align: center;
          border-radius: 50%;
        }
      }
      .content-container{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -30px;
        .title{
          font: 300 24px @openS;
          margin: 0;
        }
      }
      .content-footer{
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        .btn-danger{
          border-radius: 20px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    } 
    &:hover{
      .overlay-container{
        visibility: visible;
        .opacity(100);
      }
    } 
  }  
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}



/*
|--------------------------------------------------------------------------
|  8.0 FlexSlider Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider.theme1{ padding: 10px; background-color: #4ea696;  }
.flexslider.theme2{ padding: 10px; background-color: #bd584b;  }
.flexslider.theme3{ padding: 10px; background-color: #485460;  }
.flexslider {margin: 20px 0 20px; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.flexslider .rounded{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  font-size: 1.7em;
  text-align: center;
  background-color: #363f48;
  .transition(background-color .3s ease-in-out);
  &:hover{
    background-color: #5d6d7c;
    color: #3f4b57;
  }
}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; opacity: 0; -webkit-transition: all .3s ease; color: #52606e;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 14px; height: 14px; display: block; background: #9ba4ae; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.flex-control-paging li a:hover { background: #47535f;  }
.flex-control-paging li a.flex-active { background: #47535f; cursor: default; }
.flexslider.theme1 .flex-control-paging li a { width: 20px; height: 20px; background-color: #bae4dc;  }
.flexslider.theme1 .flex-control-paging li a:hover { background-color: #fff;  }
.flexslider.theme1 .flex-control-paging li a.flex-active  { background-color: #fff; }
.flexslider.theme2 .flex-control-paging li a { width: 20px; height: 20px; background-color: #f3b5ae;  }
.flexslider.theme2 .flex-control-paging li a:hover { background-color: #fff;  }
.flexslider.theme2 .flex-control-paging li a.flex-active  { background-color: #fff; }
.flexslider.theme3 .flex-control-paging li a { width: 20px; height: 20px; background-color: #9b9fa4;  }
.flexslider.theme3 .flex-control-paging li a:hover { background-color: #fff;  }
.flexslider.theme3 .flex-control-paging li a.flex-active  { background-color: #fff; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

/*
|--------------------------------------------------------------------------
|  9.0 Testimonials Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.testimonials{
  padding: 20px 0 50px;
  background-color: #eef2f5;
  overflow: hidden;
  .captions{
    .quotes{
      color: #485460;
    }
    .title{
      color: #4f5860;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 5px;
      margin-top: 30px;
    }
    .title + .title{
      margin-top: 0;
      margin-bottom: 15px;
    }
    .subtitle{
      color: #4f5860;
      font-size: 12px;
      font-family: @openS;
      font-weight: 500;
    }
  }
}
/*
|--------------------------------------------------------------------------
|  10.0 Clients Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.clients-section{
  background-color: #485460;
  padding: 0;
  .flexslider{
    margin: 0;
  }
}

/*
|--------------------------------------------------------------------------
|  11.0 Footer Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

footer{
  background-color: #363f48;
  padding: 20px 0;
  .widget{
    .title{
      color: #fff;
      font-weight: 400;
      font-size: 22px;
      margin-bottom: 30px;
    }
    .content{
      color: #fff;
      font-family: @openS;
      font-weight: 500;
    }
    .recents{
      li{
        border-bottom: 1px solid #485460;
         &:first-child{
            a{
              padding-top: 0;
            }
          }
        a{
          color: #fff;
          display: block;
          padding: 15px 0 15px;
          font-weight: 500;
          font-size: 13px;
          font-family: @openS;
          .transition(all .3s ease-in);
          &:hover{
            color: #e76b5c;
            text-decoration: none;
          }
         
        }
      }
    }
    .flickr-imgs{
      > li{
        margin-bottom: 1px;
        padding-left: 0;
        padding-right: 5px;
        a{
          display: block;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
    .sub-footer-container{
      border-top: 1px solid #485460;
      padding-top: 20px;
      margin-top: 40px;
      .footer-nav{
        > li{
          padding-right: 0;
          padding-left: 10px;
        }
        > li a {
          color: #fff;
          font-family: @openS;
          font-weight: 500;
          font-size: 16px;
          border-bottom: 2px solid transparent;
          .transition(all .3s ease-in);
          padding: 0 10px 5px;

          &:hover,
          &:focus {
            color: #fff;
            background-color: transparent;
            border-bottom: 2px solid #e76b5c;
            text-decoration: none;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: #e76b5c;
            border-bottom: 2px solid #e76b5c;
            background-color: transparent;
          }
        }
      }
    }
}

/*
|--------------------------------------------------------------------------
|   12.0 Blog Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.page-title.v2{
  position: relative;
  &:after{
    position: absolute;
    content: '';
    border-bottom: 40px solid #ecf0f1;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    display: block;
  }
}
.page-title.color-scheme3{
  background-color: #363f48;
  .content-container .post-controllers > li a, .post-meta-information .meta-list > li .icn-container {
    background-color: #5e656d;
  }
}
.page-title.color-scheme2{
  background-color: #e76b5c;
  .content-container .post-controllers > li a {
    background-color: #ec897d;
  }
  .post-meta-information .meta-list > li .icn-container {
    background-color: #ec897d;
  }

}
.page-title.portfolio-single.bg-v2{
  padding-top: 20px;
  background: #fff;
}
.page-title.portfolio-single{
  background: #fff url(../img/slides/portfolio-bg.png) no-repeat 0 0;
  .title{
    font: 300 54px @openS;
  }
  .portfolio-single-pic{
    margin: 40px 0 30px;
  }
  .portfolio-content-container{
    margin-bottom: 20px;
    .title{
      color: #485460;
      font: 24px @openS;
    }
    p{
      color: #485460;
      font: 400 16px/26px @openS;
      margin-bottom: 15px;
    }
  }
  .portfolio-tags{
    margin: 20px 0;
    .tags-list{
      >li{
        padding-left: 0;
        padding-right: 10px;
        a{
          display: inline-block;
          border-radius: 20px;
          padding: 5px 15px;
          background-color: #e76b5c;
          color: #fff;
          font: 14px @openS;
          .transition( all .3s ease-in-out );
          &:hover{
            background-color: #cf6052;
            text-decoration: none;
          }
        }
      }
    }
  }
  .portfolio-socials{
    margin: 40px 0;
    .meta-list{
      > li{
        padding-left: 0;
        padding-right: 10px;
        margin-right: 20px;
        font-family: @openS;
        font-size: 18px;
        color: #485460;
        font-weight: 300;

        .icn-container{
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: #485460;
          border-radius: 4px;
          color: #fff;
          line-height: 45px;
          text-align: center;
          font-size: 1.3em;
          margin-right: 5px;
          .transition( all .3s ease-in-out );
        }
        a{
          font-family: @openS;
          font-size: 18px;
          color: #485460;
          font-weight: 300;

          &:hover{
            text-decoration: none;
            .icn-container{
              color: #e76b5c;
            }
          }
        }
      }
    }
  }
}
.page-title{
  &.bg-version{
    background: #e76b5c url( ../img/slides/slide6.jpg) no-repeat;
    .title{
      font: 300 64px @openS;
    }
    padding-bottom: 150px;
  }
}
.page-title{
  background-color: #75c8b9;
  padding: 200px 0 60px;
  .page-title-content{
    .title{
      color: #fff;
      font-weight: 300;
      font-size: 64px;
    }
    .subtitle{
      color: #5fa296;
      font-size: 26px;
      margin-top: 0;
      font-weight: 600;
    }
  }
  .content-container{
    margin-bottom: 80px;
    .title{
      color: #fff;
      font-weight: 300;
      font-size: 48px;
      margin-bottom: 30px;
    }
    .author{
      margin-bottom: 20px;
      li{
        font-family: @openS;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        font-style: italic;
        a{
          font-family: @openS;
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          font-style: italic;
          text-decoration: underline;
        }
      }
    }
    .post-controllers{
      > li{
        a{
          display: block;
          width: 40px;
          height: 40px;
          background-color: #91d3c7;
          border-radius: 4px;
          color: #fff;
          line-height: 45px;
          text-align: center;
          font-size: 2em;
          &:hover, &:focus{
            text-decoration: none;
          }
        }
      }
    }
  }
  .post-content{
    margin-top: 15px;
    p{
      color: #fff;
      font-size: 16px;
      font-family: @openS;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 20px;
    }
    h1,h2,h3,h4,h5,h6{
      color: #fff;
      margin: 20px 0;
    }
    .post-slider{
      margin-bottom: 60px;
    }
  }
  .post-meta-information{
    margin: 60px 0;
    .meta-list{
      > li{
        padding-left: 0;
        padding-right: 10px;
        margin-right: 20px;
        font-family: @openS;
        font-size: 18px;
        color: #fff;
        font-weight: 300;

        .icn-container{
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: #91d3c7;
          border-radius: 4px;
          color: #fff;
          line-height: 45px;
          text-align: center;
          font-size: 1.3em;
          margin-right: 5px;
        }
        a{
          font-family: @openS;
          font-size: 18px;
          color: #fff;
          font-weight: 300;
        }
      }
    }
  }
}
.widgets-container{
  .divider{
    width: 75%;
    margin: 20px 0 40px;
  }
  .widget{
    .title{
      font-size: 22px;
      margin-bottom: 20px;
    }
    .vid-container{
      margin: 20px 0;
    }
    .insta-list{
      >li{
        padding-left: 0;
        padding-right: 10px;
        padding-bottom: 10px;
      }
    }

    .posts-container.theme2{
      .pic-container{
        .pic-inner-container{
          background-color: #4ea696;
        }
      }
      .post-content{
        ul{
          >li{
            color: #4ea696;
          }
        }
      }
    }
    .posts-container.theme3{
      .pic-container{
        .pic-inner-container{
          background-color: #485460;
        }
      }
      .post-content{
        ul{
          >li{
            color: #66727c;
          }
        }
      }
    }
    .posts-container{
      > li{
        margin-bottom: 1em;
        overflow: hidden;
      }
      .pic-container{
        margin-right: 1em;
        .pic-inner-container{
          background-color: #bd584b;
          padding: 5px;
        }
      }
      .post-content{
        margin-top: 0;
        ul{
          >li{
            color: #bd584b;
            font: 600 italic 12px @openS;
            a{
              color: #fff;
              font: 300 normal 14px @openS;
            }
          }
        }
      }
    }
  }
}
/*
|--------------------------------------------------------------------------
|   13.0 Portfolio Filter Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.filter-list-container{
  margin: 30px 0;
  position: relative;
  .filter-container{
    .title{
      margin: 0;
       .title-container{
        display: inline-block;
        background-color: #e76b5c;
        padding: 13px 0;
        width: 245px;
        color: #fff;
        border: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-family: @openS;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        &:before{ 
          position: absolute;
          top: 0px;
          right: 15px;
          font-family: 'icomoon';
          font-size: 1.2em;
          content: '\e6dd';
          line-height: 42px;
        }
        &:focus{
          outline: none;
        }
      } 
    }
    #filter-list{
        position: absolute;
        display: inline-block;
		visibility: hidden;
		.opacity(0);
		text-align: center;
        left: auto;
        right: auto;
        margin-bottom: 0;
        border-radius: 10px;
        margin-left: -123px;
        z-index: 99;
        .box-shadow(0 26px 60px 0 rgba(0,0,0,.3));
      .active{
        .transition(all .3s ease-in-out);
        a{
          .filter-text{
            .transition(all .3s ease-in-out);
            border-color: #ff8576;
            position: relative;
            &:before{ 
              content:'\2713';
              position: absolute;
              top: 2px;
              left: 15px;
              font-size: 1.2em;
            }
          }
          &:hover, &:focus{
            text-decoration: none;
            outline: none;
          }
        }
      }
      > li{
        background-color: #d56355;
        &:first-child{
          padding-top: 10px;
        }
        &:last-child{
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding-bottom: 20px;
        }
        a{
          background-color: #d56355;
          display: block;
          color: #fff;
          padding: 5px 34px;
          font-size: 14px;
          font-family: @openS;
          font-weight: 500;
          .filter-text{
            background-color: #e87364;
            border-radius: 15px;
            border: 1px solid #cc5e51;
            display: block;
            padding: 5px 60px;
            .transition(all .3s ease-in-out)
          }
          &:hover{
            text-decoration: none;
            .filter-text{
              border-color: #ff8576;
            }
          }
        }
      }
    }

  } 
}

/*
|--------------------------------------------------------------------------
|   14.0 Portfolio Columns Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

.portfolio-columns{
  overflow: hidden;
  margin-bottom: 40px;
  .item-container{
    margin-bottom: 30px;
    .item-image{
      overflow: hidden;
	  position: relative;
      img{
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
        position: relative;
      }
	  .overlay{
		position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: #636d78;
        color: #fff;
        height: 120px;
        width: 100%;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
		
		.portfolio-icons-list{
			margin: 20px 0;
			> li {
				a{
					.icn-container{
						display: inline-block;
						width: 45px;
						height: 45px;
						line-height: 54px;
						background-color: #4ea696;
						color: #fff;
						text-align: center;
						border-radius: 4px;
						font-size: 1.4em;
					}
					&:hover{
						text-decoration: none;
					}
				}
			}
		}

	    }
      &:hover{
        img{
          -webkit-transform: translateY(120px);
          -moz-transform: translateY(120px);
          -ms-transform: translateY(120px);
          transform: translateY(120px);
        }
        .overlay{
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s;
        }
      }
    }
    .item-info{
      .transition(all .3s ease-in);
      padding-top: 20px;
      border-bottom: 3px solid transparent;
      .item-title{
        a {
          color: #485460;
          font-size: 21px;
          font-weight: 400;
          font-family: @openS;
          &:hover{
            text-decoration: none;
          }
        }
      }
      .item-tags{
        font-family: @openS;
        font-style: italic;
        color: #485460;
        font-size: 12px;
      }
      .like{
        margin-top: 40px;
        > li{
          color: #485460;
          > a{
              color: #eef2f5;
              font-size: 1.8em;
              .transition(all .3s ease-in);
              &:hover{
                text-decoration: none;
              }
          }
        }
      }
    }
    &:hover{
      .item-info{
        background-color: #ecf5f3;
        border-color: #70b7aa;
      }
      .like{
        > li > a{
          color: #fff;
        }
      }
    }
  }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/*
|--------------------------------------------------------------------------
|   15.0 Comments Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.comments{
  padding: 40px 0;
  background-color: #ecf0f1;
  .comment-title{
    .title{
      color: #485460;
      font-size: 53px;
      font-weight: 300;
      text-align: center;
    }
  }
  .media-list{
    border-bottom: 1px solid #bdc3c7;
    padding: 20px 0;
    .media >.pull-left {
      margin-right: 30px;
    }
    .media-body{
      .media-heading{
        margin: 22px 0;
        color: #485460;
        font-size: 18px;
        font-weight: 500;
        .frase{
          font-weight: 300;
        }
      }
      .media-content{
        background-color: #fff;
        border: 1px solid #e8e8e8;
        padding: 20px;
        border-radius: 5px;
        color: #485460;
        font-weight: 300;
        font-size: 14px;
        font-family: @openS;
        margin-bottom: 30px;
        line-height: 24px;
        overflow: hidden;
        .comment-information{

          > li{
            padding-left: 0;
            font-weight: 600;
            font-family: @openS;
            color: #485460;
            font-size: 12px;
            font-style: italic;
            line-height: 30px;
            margin-top: 5px;
            a.reply{
              font-family: 'EntypoRegular';
              display: block;
              width: 30px;
              height: 30px;
              font-size: 1.4em;
              background-color: #485460;
              color: #fff;
              text-align: center;
              line-height: 30px;
              border-radius: 4px;
              &:hover{
                text-decoration: none;
              }
            }
          }
        }
      }
      .media{
        .media-content{
          background-color: #f6fafb;
        }
      }
    }
  }
}
.comments-form{
  background-color: #ecf0f1;
  .comments-title{
    .title{
      color: #485460;
      font-weight: 300;
      font-size: 32px;
    }
  }
  .form-container{
    padding: 30px 0 60px;
    form{
      label{
        font-size: 22px;
        font-family: @openS;
        font-weight: 300;
        color: #485460;
      }
      input[type="text"], input[type="email"]{
        height: 50px;
        color: #485460;
        font-size: 16px;
        font-weight: 300;
        font-family: @openS;
        font-style: italic;
        border-width: 2px;
        border-color: #485460;
      }
      textarea{
        height: 140px;
        border-width: 2px;
        margin-bottom: 30px;
        border-color: #485460;
      }
      button{
        font-size: 18px;
        font-family: @openS;
        font-weight: 500;
      }
    }
  }
  .form-control:focus {
    border-color: #485460;
    outline: 0;
    box-shadow: none;
  }
}

/*
|--------------------------------------------------------------------------
|   16.0 Related Post Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.related-posts{
  background-color: #ecf0f1;
  padding: 20px 0 40px;
  .related-post-container{
    border-bottom: 1px solid #fff;
    padding: 15px;
    .transition (all .3s ease-in-out);
    &:hover{
      .box-shadow( 0 0 23px rgba(158, 158, 158, 0.6) );
      .scale(~'1.05, 1.05' );
      background-color: #f7f9f9;
    }
    .category-container {
      margin-top: 35px;
      ul{
        text-align: center;
        > li{
          a{
            border-radius: 15px;
          }
        }
      }
    }
    .related-content{
      .title{
        color: #485460;
        font: 300 26px;
      }
      p{
        font: 300 16px;
        color: #485460;
      }
    }
    .related-pic{
      img{
        border: 6px solid #bdc3c7;
      }
    }
    .related-action{
      margin-top: 30px;
      ul{
        >li{
          a{
            font-size: 3em;
            color: #bdc3c7;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }

  }
}

/*
|--------------------------------------------------------------------------
|   16.0 Related Post Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.contact-form{
  background-color: #fafeff;
  padding: 60px 0;
  overflow: hidden;
  .contact-form-container{
    form{
      label{
        font-size: 22px;
        font-family: @openS;
        font-weight: 300;
        color: #485460;
      }
      input[type="text"], input[type="email"]{
        height: 50px;
        color: #485460;
        font-size: 16px;
        font-weight: 300;
        font-family: @openS;
        font-style: italic;
        border-width: 2px;
        border-color: #485460;
      }
      textarea{
        height: 140px;
        display: block;
        border-width: 2px;
        margin-bottom: 30px;
        border-color: #485460;
        width: 100%;
        border-radius: 4px;
      }

    }
  }
  .contact-information{
    .title{
      margin-top: 0;
      color: #485460;
      font: 300 32px @openS;
      margin-bottom: 20px;
    }
    p{
      color: #485460;
      font: 300 14px/24px @openS;
    }
  }

}

/*
|--------------------------------------------------------------------------
|   17.0 Contact us Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.about-container-main-tagline{
  background-color: #e76b5c;
  padding: 25px 0;
  .title{
    margin-top: 0;
    font: 300 32px @openS;
    color: #fff;
  }
}
#about-carousel{
		position: relative;
		height: 290px;
		.swiper-about-next, .swiper-about-prev{
				background-color: #485460;
				background-color: rgba(72,84,96, .9);
				width: 230px;
				height: 230px;
				position: absolute;
				z-index: 99;
				text-align: center;
				font-size: 3em;
				a{
						display: block;
						color: #fff;
						line-height: 250px;
				}
		}
		.swiper-about-next{
				right: 0;	
				top: 0;
		}
		.swiper-about-prev{
				left: 0;
				top: 0;
		}

  .team-carousel{
    overflow: hidden;
	box-sizing: content-box;
    .transition( all .3s ease-in-out );
    position: relative;
    &:hover{
      .team-socials .list-socials{
        .opacity(100);
        visibility: visible;
        background-color: #e76b5c;
        background-color: rgba(231,107,92, .75);
      }
      .figure-container .team-description{
        .opacity( 100 );
        visibility: visible;
      }
    }
    .figure-container{
      position: relative;
      .team-description{
        .opacity( 0 );
        visibility: hidden;
        position: absolute;
        background-color: #e76b5c;
        background-color: rgba(231,107,92, .75);
        .transition( all .3s ease-in-out );
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .team-info{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -20px;
        .name{
          font: 300 21px @openS;
          color: #fff;
        }
        .specs{
          font: italic 300 12px @openS;
          color: #363f48;
        }
      }
    }
    .team-socials{
      background-color: #485460;
      .list-socials{
        padding: 10px 0;
        margin: 0;
        .opacity(0);
        visibility: hidden;
        .transition( all .3s ease-in-out );
        > li > a{
          text-align: center;
          &:hover{
            text-decoration: none;
            .icn-container{
              background-color: #fff;
              color: #485460;

            }
          }
        }
        .icn-container{
          .transition(all .3s ease-in);
          background-color: #d7aca9;
          color: #fff;
          display: inline-block;
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
|   18.0 About Description Styles 
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.about-description{
  padding: 40px 0;
  .about-description-content{
    .title{
      color: #485460;
      font: 300 32px @openS;
      margin-top: 0;
    }
    p{
      font: 300 14px/22px @openS;
      color: #485460;
    }
  }
}

/*
|--------------------------------------------------------------------------
|   19.0 Expertise Bars 
|  
|--------------------------------------------------------------------------
|
| 
|
*/

.expertise-bars{
  padding: 40px 0;
  background: #55998a url(../img/expertise/expertise-bars.jpg) no-repeat;
  .expertise-title{
    .title{
      font: 300 52px @openS;
      margin-top: 0;
      color: #ecf0f1;
    }
  }
  .progress-bar-container{
    margin-top: 20px;
    .title{
      color: #ecf0f1;
      font: 600 16px @openS;
    }
    .progress {
      border-radius: 10px;
    }
    .progress-bar {
      height: 50%;
      margin: 5px;
      border-radius: 10px;
      background-color: #4ea696;
    }
    .list-skill-levels{
      li{
        background: url(../img/expertise/counter-bg.png)no-repeat;
        padding-left: 3px;
        padding-right: 3px;
        font: 300 42px/60px @openS;
        color: #4ea696;
        height: 60px;
        width: 40px;
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
|  20.0 Responsive Styles 
|  
|--------------------------------------------------------------------------
|
| 
|
*/
@media only screen and ( max-width: 1280px) {
	.filter-list-container .filter-container #filter-list {
			margin-left: -122px;
	}
	#about-carousel .swiper-about-next, #about-carousel .swiper-about-prev{			width: 183px;
		//height: 183px;
	}
	#about-carousel .swiper-about-next a, #about-carousel .swiper-about-prev a {
			//line-height: 183px;
	}

}

@media only screen and ( max-width: 1199px ){
		.socials li {
				padding-left: 0;
				padding-right: 0;
		}
		.filter-list-container .filter-container #filter-list {
				margin-left: -123px;
		}
		.page-title .post-meta-information .meta-list > li {
				margin-bottom: 15px;
		}
}

@media only screen and ( max-width: 1024px ) {
		.filter-list-container .filter-container #filter-list {
			margin-left: -122px;
		}
		#about-carousel .swiper-about-next, #about-carousel .swiper-about-prev {
			//width: 146px;
			//height: 146px;
		}
		#about-carousel .swiper-about-next a, #about-carousel .swiper-about-prev a {
			//line-height: 163px;
		}
		#about-carousel .team-carousel .team-socials  .list-socials li{
				padding: 0;
		}
}

@media only screen and ( max-width: 995px ) {
		.navbar-nav {
				display: none;
		}
		.responsive-menu {
				display: block;
		}
}

@media only screen and ( max-width: 991px ) {
		.socials li {
				padding-bottom: 5px;
		}
		.expertise {
				padding-bottom: 0;
		}
		.expertise .expertise-columns .expertise-content-container {
				margin-bottom: 100px;
		}
		.expertise .expertise-columns {
				padding-bottom: 0;
		}
		.latest-work-columns .item-image .overlay-container .content-container .title {
				font-size: 18px;
		}
		.latest-work-columns .item-image .overlay-container .content-title {
				top: 5%;
		}
		.latest-work-columns .item-image .overlay-container .content-footer {
				bottom: 0;
		}
		.sub-footer-container {
				.footer-logo{
						display: block;
						text-align: center;
				}
				.footer-nav{
						text-align: center;
						margin-top: 20px;
						float: none!important;
				}
		}
		.filter-list-container .filter-container #filter-list {
			margin-left: -123px;
		}
		.widgets-container .divider {
			width: 90%;
			margin: 20px 0px 40px;
		}
		.related-posts .related-post-container .related-content {
				text-align: center;	
		}
		.contact-information{
				clear: both;
		}
}

@media only screen and ( max-width: 767px ) {
		.navbar-header {
				float: left;
		}
		.tag-line .tag-info {
				border-top: 0;
		}
		.tag-line .tag-info-bx1 {
			border-top: 1px solid rgb(72, 84, 96);
		}
		.tag-line .tag-info-bx2 {
			border-top: 1px solid rgb(72, 84, 96);
			border-bottom: 1px solid rgb(72, 84, 96);
			border-left: 0;
			border-right: 0;
		}
		#about-carousel .swiper-about-next, #about-carousel .swiper-about-prev {
			width: 123px;
		}
}
@media only screen and ( max-width: 640px ) {
		.latest-work-columns .portfolio-items-container {
			width: 100%;
			text-align: center;
		}
		.navbar-wrapper {
			top: 20px;
		}
		.comments .media-list .media > .pull-left {
			float: none !important;
			text-align: center;
			display: block;
		}
		.comments .media-list .media-body .media-heading {
			text-align: center;
		}
		.page-title.portfolio-single .portfolio-tags {
			text-align: center;
		}
		.page-title .post-meta-information {
			text-align: center;
		}
		#about-carousel .swiper-about-next, #about-carousel .swiper-about-prev {
			display: none;
		}
		.page-title.bg-version .title {
			font-size: 54px;
		}
		.sub-footer-container .footer-nav {
			display: none;
		}
		.page-title.portfolio-single .portfolio-content-container {
			margin-top: 150px;
		}
		.page-title.portfolio-single.bg-v2 .portfolio-content-container {
				margin-top: 0;
		} 
		.page-title.portfolio-single .portfolio-socials .meta-list > li {
				padding-bottom: 10px;
		}
		.comments-form .form-container form button {
			width: 100%;
			display: block;
		}
		.page-title.portfolio-single {
			padding-top: 100px;
		}
		.contact-form-container form button {
				width: 100%;
				display: block;
		}
}

@media only screen and ( max-width: 360px ) {
		.responsive-menu {
			position: relative;
			top: -50px;
		}
}
