/*
|--------------------------------------------------------------------------
|  BrightLight
|  http://brightlight.innovacionesweb.info
|--------------------------------------------------------------------------
| 1.0 Global Styles
| 
|
|
| 
|
|
| 
|
|
| 
|
|
| 
|
*/
/*
|--------------------------------------------------------------------------
|  1.0 Global Styles - Variables
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
body,
p,
a {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.center {
  text-align: center;
}
.center-col {
  float: none;
  margin: 0 auto;
}
.container {
  padding: 0 14px;
}
.btn-light-gray {
  color: #ffffff;
  background-color: #485460;
  border-color: #485460;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-light-gray:hover,
.btn-light-gray:focus,
.btn-light-gray:active,
.btn-light-gray.active,
.open .dropdown-toggle.btn-light-gray {
  color: #ffffff;
  background-color: #374049;
  border-color: #2e353d;
}
.btn-light-gray:active,
.btn-light-gray.active,
.open .dropdown-toggle.btn-light-gray {
  background-image: none;
}
.btn-light-gray.disabled,
.btn-light-gray[disabled],
fieldset[disabled] .btn-light-gray,
.btn-light-gray.disabled:hover,
.btn-light-gray[disabled]:hover,
fieldset[disabled] .btn-light-gray:hover,
.btn-light-gray.disabled:focus,
.btn-light-gray[disabled]:focus,
fieldset[disabled] .btn-light-gray:focus,
.btn-light-gray.disabled:active,
.btn-light-gray[disabled]:active,
fieldset[disabled] .btn-light-gray:active,
.btn-light-gray.disabled.active,
.btn-light-gray[disabled].active,
fieldset[disabled] .btn-light-gray.active {
  background-color: #485460;
  border-color: #485460;
}
.no-border-radius {
  border-radius: 0;
}
.btn-xxlarge {
  padding: 16px 65px;
  font: 18px 'Open Sans', sans-serif;
}
.btn-danger {
  color: #ffffff;
  background-color: #e76b5c;
  border-color: #e76b5c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #e24b38;
  border-color: #df3b27;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e76b5c;
  border-color: #e76b5c;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #485460;
}
.has-warning .form-control {
  border-color: #e76b5c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #e04330;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f4bcb5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f4bcb5;
}
.has-warning .input-group-addon {
  color: #485460;
  border-color: #e76b5c;
  background-color: #ffffff;
}
.has-error .help-block,
.has-error .control-label {
  color: #485460;
}
.has-error .form-control {
  border-color: #e76b5c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #e04330;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f4bcb5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f4bcb5;
}
.has-error .input-group-addon {
  color: #485460;
  border-color: #e76b5c;
  background-color: #ffffff;
}
.has-success .help-block,
.has-success .control-label {
  color: #485460;
}
.has-success .form-control {
  border-color: #e76b5c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #e04330;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f4bcb5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f4bcb5;
}
.has-success .input-group-addon {
  color: #485460;
  border-color: #e76b5c;
  background-color: #ffffff;
}
/*
|--------------------------------------------------------------------------
|  2.0 Navigation Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.navbar-wrapper {
  position: absolute;
  right: 0;
  top: 60px;
  left: 0;
  z-index: 15;
}
.navbar-brand {
  padding-left: 3px;
}
.navbar-default {
  background-color: transparent;
  border: 0;
}
.navbar-default .navbar-nav .search-container {
  display: inline-block;
  padding: 10px;
  background-color: #FFF;
  border-radius: 50%;
  color: #363f48;
  position: relative;
  top: -10px;
  width: 39px;
  text-align: center;
  height: 37px;
  line-height: 10px;
}
.navbar-default .navbar-nav .sb-container-open {
  width: 100%;
  top: -52px;
  right: 15px;
}
.navbar-default .navbar-nav > li {
  margin-left: 15px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: #fff;
}
/*
|--------------------------------------------------------------------------
|  3.0 LayerSlider Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.layerslider-container {
  background-color: #e76b5c;
}
.layerslider-container #layerslider .text,
.layerslider-container #layerslider2 .text {
  color: #fff;
  font-size: 64px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}
/*
|--------------------------------------------------------------------------
|  4.0 Tagline Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.tag-line {
  padding: 40px 0;
  background-color: #363f48;
}
.tag-line .subtitle {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-top: 0;
}
.tag-line .title {
  color: #e76b5c;
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
}
.tag-line .tag-info {
  margin: 20px 0;
  border-top: 1px solid #485460;
}
.tag-line .tag-info .subtitle {
  font-size: 20px;
  padding: 30px 0 15px;
  margin-top: 0;
}
.tag-line .tag-info-bx1 {
  padding-bottom: 30px;
}
.tag-line .tag-info-bx2 {
  border-right: 1px solid #485460;
  border-left: 1px solid #485460;
  padding-bottom: 30px;
}
.tag-line .tag-info-bx2 .title {
  color: #fff;
  margin-top: 0;
  font-weight: 600;
  font-size: 20px;
}
.socials > li > a {
  text-align: center;
}
.socials > li > a:hover {
  text-decoration: none;
}
.socials > li > a:hover .icn-container {
  background-color: #9ba4ae;
}
.socials .icn-container {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #485460;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
}
.contact-list > li {
  padding-left: 0;
}
.contact-list > li > a {
  color: #fff;
  font: 300 14px 'Open Sans', sans-serif;
}
.contact-list .icn-container {
  margin-right: 5px;
}
/*
|--------------------------------------------------------------------------
|  5.0 Expertise Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.expertise {
  background: transparent url(../img/expertise/expertise.jpg) no-repeat fixed 0 0;
  padding: 30px 0 60px;
}
.expertise .expertise-titles .title {
  color: #e76b5c;
  font-size: 52px;
  font-weight: 300;
}
.expertise .expertise-titles .sub-title {
  color: #485460;
  font-size: 22px;
  font-weight: 300;
}
.expertise .expertise-columns {
  padding: 30px 0;
  margin-top: 60px;
}
.expertise .expertise-columns .expertise-content-container {
  background-color: #FFF;
  padding: 70px 20px 30px;
  position: relative;
}
.expertise .expertise-columns .expertise-content-container .icn-main-container {
  top: -50px;
  position: absolute;
  left: 0;
  right: 0;
}
.expertise .expertise-columns .expertise-content-container .icn-main-container .icn-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 25px;
  text-align: center;
  font-size: 2.4em;
  line-height: 1.2;
  color: #fff;
  border-radius: 50%;
  background-color: #e76b5c;
}
.expertise .expertise-columns .expertise-content-container .title {
  line-height: 30px;
  font-size: 22px;
  font-weight: 500;
  color: #485460;
  margin-bottom: 30px;
}
.expertise .expertise-columns .expertise-content-container .content {
  color: #485460;
  font-size: 13px;
  margin-bottom: 40px;
}
.expertise .expertise-columns .expertise-content-container .btn-light-gray {
  padding: 12px 45px;
}
/*
|--------------------------------------------------------------------------
|  6.0 Latest Work Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.latest-work {
  padding: 40px 0;
}
.latest-work .latest-work-titles .title {
  margin-top: 0;
  font-weight: 300;
  color: #485460;
  font-size: 52px;
}
.latest-work .latest-work-titles .sub-title {
  margin-top: 0;
  font-weight: 300;
  font-size: 22px;
  color: #485460;
  margin-bottom: 8px;
}
/*
|--------------------------------------------------------------------------
|  7.0 Latest Work Columns Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.latest-work-columns {
  margin-bottom: 40px;
}
.latest-work-columns .portfolio-items-container {
  width: 33%;
}
.latest-work-columns .item-image {
  position: relative;
}
.latest-work-columns .item-image .overlay-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #485460;
  background-color: rgba(72, 84, 96, 0.85);
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.latest-work-columns .item-image .overlay-container .content-title {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}
.latest-work-columns .item-image .overlay-container .content-title .icn-container {
  border: 2px solid #e76b5c;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.latest-work-columns .item-image .overlay-container .content-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -30px;
}
.latest-work-columns .item-image .overlay-container .content-container .title {
  font: 300 24px 'Open Sans', sans-serif;
  margin: 0;
}
.latest-work-columns .item-image .overlay-container .content-footer {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}
.latest-work-columns .item-image .overlay-container .content-footer .btn-danger {
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.latest-work-columns .item-image:hover .overlay-container {
  visibility: visible;
  opacity: 100;
  filter: alpha(opacity=10000);
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/*
|--------------------------------------------------------------------------
|  8.0 FlexSlider Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider.theme1 {
  padding: 10px;
  background-color: #4ea696;
}
.flexslider.theme2 {
  padding: 10px;
  background-color: #bd584b;
}
.flexslider.theme3 {
  padding: 10px;
  background-color: #485460;
}
.flexslider {
  margin: 20px 0 20px;
  position: relative;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .rounded {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  font-size: 1.7em;
  text-align: center;
  background-color: #363f48;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.flexslider .rounded:hover {
  background-color: #5d6d7c;
  color: #3f4b57;
}
.carousel li {
  margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(../img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all .3s ease;
  color: #52606e;
}
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}
.flex-direction-nav .flex-prev {
  left: -36px;
}
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 14px;
  height: 14px;
  display: block;
  background: #9ba4ae;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #47535f;
}
.flex-control-paging li a.flex-active {
  background: #47535f;
  cursor: default;
}
.flexslider.theme1 .flex-control-paging li a {
  width: 20px;
  height: 20px;
  background-color: #bae4dc;
}
.flexslider.theme1 .flex-control-paging li a:hover {
  background-color: #fff;
}
.flexslider.theme1 .flex-control-paging li a.flex-active {
  background-color: #fff;
}
.flexslider.theme2 .flex-control-paging li a {
  width: 20px;
  height: 20px;
  background-color: #f3b5ae;
}
.flexslider.theme2 .flex-control-paging li a:hover {
  background-color: #fff;
}
.flexslider.theme2 .flex-control-paging li a.flex-active {
  background-color: #fff;
}
.flexslider.theme3 .flex-control-paging li a {
  width: 20px;
  height: 20px;
  background-color: #9b9fa4;
}
.flexslider.theme3 .flex-control-paging li a:hover {
  background-color: #fff;
}
.flexslider.theme3 .flex-control-paging li a.flex-active {
  background-color: #fff;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
/*
|--------------------------------------------------------------------------
|  9.0 Testimonials Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.testimonials {
  padding: 20px 0 50px;
  background-color: #eef2f5;
  overflow: hidden;
}
.testimonials .captions .quotes {
  color: #485460;
}
.testimonials .captions .title {
  color: #4f5860;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 30px;
}
.testimonials .captions .title + .title {
  margin-top: 0;
  margin-bottom: 15px;
}
.testimonials .captions .subtitle {
  color: #4f5860;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
/*
|--------------------------------------------------------------------------
|  10.0 Clients Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.clients-section {
  background-color: #485460;
  padding: 0;
}
.clients-section .flexslider {
  margin: 0;
}
/*
|--------------------------------------------------------------------------
|  11.0 Footer Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
footer {
  background-color: #363f48;
  padding: 20px 0;
}
footer .widget .title {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 30px;
}
footer .widget .content {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
footer .widget .recents li {
  border-bottom: 1px solid #485460;
}
footer .widget .recents li:first-child a {
  padding-top: 0;
}
footer .widget .recents li a {
  color: #fff;
  display: block;
  padding: 15px 0 15px;
  font-weight: 500;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
footer .widget .recents li a:hover {
  color: #e76b5c;
  text-decoration: none;
}
footer .widget .flickr-imgs > li {
  margin-bottom: 1px;
  padding-left: 0;
  padding-right: 5px;
}
footer .widget .flickr-imgs > li a {
  display: block;
  width: 60px;
  height: 60px;
}
footer .sub-footer-container {
  border-top: 1px solid #485460;
  padding-top: 20px;
  margin-top: 40px;
}
footer .sub-footer-container .footer-nav > li {
  padding-right: 0;
  padding-left: 10px;
}
footer .sub-footer-container .footer-nav > li a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 0 10px 5px;
}
footer .sub-footer-container .footer-nav > li a:hover,
footer .sub-footer-container .footer-nav > li a:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #e76b5c;
  text-decoration: none;
}
footer .sub-footer-container .footer-nav > .active > a,
footer .sub-footer-container .footer-nav > .active > a:hover,
footer .sub-footer-container .footer-nav > .active > a:focus {
  color: #e76b5c;
  border-bottom: 2px solid #e76b5c;
  background-color: transparent;
}
/*
|--------------------------------------------------------------------------
|   12.0 Blog Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.page-title.v2 {
  position: relative;
}
.page-title.v2:after {
  position: absolute;
  content: '';
  border-bottom: 40px solid #ecf0f1;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  display: block;
}
.page-title.color-scheme3 {
  background-color: #363f48;
}
.page-title.color-scheme3 .content-container .post-controllers > li a,
.page-title.color-scheme3 .post-meta-information .meta-list > li .icn-container {
  background-color: #5e656d;
}
.page-title.color-scheme2 {
  background-color: #e76b5c;
}
.page-title.color-scheme2 .content-container .post-controllers > li a {
  background-color: #ec897d;
}
.page-title.color-scheme2 .post-meta-information .meta-list > li .icn-container {
  background-color: #ec897d;
}
.page-title.portfolio-single.bg-v2 {
  padding-top: 20px;
  background: #fff;
}
.page-title.portfolio-single {
  background: #ffffff url(../img/slides/portfolio-bg.png) no-repeat 0 0;
}
.page-title.portfolio-single .title {
  font: 300 54px 'Open Sans', sans-serif;
}
.page-title.portfolio-single .portfolio-single-pic {
  margin: 40px 0 30px;
}
.page-title.portfolio-single .portfolio-content-container {
  margin-bottom: 20px;
}
.page-title.portfolio-single .portfolio-content-container .title {
  color: #485460;
  font: 24px 'Open Sans', sans-serif;
}
.page-title.portfolio-single .portfolio-content-container p {
  color: #485460;
  font: 400 16px/26px 'Open Sans', sans-serif;
  margin-bottom: 15px;
}
.page-title.portfolio-single .portfolio-tags {
  margin: 20px 0;
}
.page-title.portfolio-single .portfolio-tags .tags-list > li {
  padding-left: 0;
  padding-right: 10px;
}
.page-title.portfolio-single .portfolio-tags .tags-list > li a {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: #e76b5c;
  color: #fff;
  font: 14px 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page-title.portfolio-single .portfolio-tags .tags-list > li a:hover {
  background-color: #cf6052;
  text-decoration: none;
}
.page-title.portfolio-single .portfolio-socials {
  margin: 40px 0;
}
.page-title.portfolio-single .portfolio-socials .meta-list > li {
  padding-left: 0;
  padding-right: 10px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #485460;
  font-weight: 300;
}
.page-title.portfolio-single .portfolio-socials .meta-list > li .icn-container {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #485460;
  border-radius: 4px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  font-size: 1.3em;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page-title.portfolio-single .portfolio-socials .meta-list > li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #485460;
  font-weight: 300;
}
.page-title.portfolio-single .portfolio-socials .meta-list > li a:hover {
  text-decoration: none;
}
.page-title.portfolio-single .portfolio-socials .meta-list > li a:hover .icn-container {
  color: #e76b5c;
}
.page-title.bg-version {
  background: #e76b5c url(../img/slides/slide6.jpg) no-repeat;
  padding-bottom: 150px;
}
.page-title.bg-version .title {
  font: 300 64px 'Open Sans', sans-serif;
}
.page-title {
  background-color: #75c8b9;
  padding: 200px 0 60px;
}
.page-title .page-title-content .title {
  color: #fff;
  font-weight: 300;
  font-size: 64px;
}
.page-title .page-title-content .subtitle {
  color: #5fa296;
  font-size: 26px;
  margin-top: 0;
  font-weight: 600;
}
.page-title .content-container {
  margin-bottom: 80px;
}
.page-title .content-container .title {
  color: #fff;
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 30px;
}
.page-title .content-container .author {
  margin-bottom: 20px;
}
.page-title .content-container .author li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
}
.page-title .content-container .author li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
  text-decoration: underline;
}
.page-title .content-container .post-controllers > li a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #91d3c7;
  border-radius: 4px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  font-size: 2em;
}
.page-title .content-container .post-controllers > li a:hover,
.page-title .content-container .post-controllers > li a:focus {
  text-decoration: none;
}
.page-title .post-content {
  margin-top: 15px;
}
.page-title .post-content p {
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}
.page-title .post-content h1,
.page-title .post-content h2,
.page-title .post-content h3,
.page-title .post-content h4,
.page-title .post-content h5,
.page-title .post-content h6 {
  color: #fff;
  margin: 20px 0;
}
.page-title .post-content .post-slider {
  margin-bottom: 60px;
}
.page-title .post-meta-information {
  margin: 60px 0;
}
.page-title .post-meta-information .meta-list > li {
  padding-left: 0;
  padding-right: 10px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.page-title .post-meta-information .meta-list > li .icn-container {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #91d3c7;
  border-radius: 4px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  font-size: 1.3em;
  margin-right: 5px;
}
.page-title .post-meta-information .meta-list > li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.widgets-container .divider {
  width: 75%;
  margin: 20px 0 40px;
}
.widgets-container .widget .title {
  font-size: 22px;
  margin-bottom: 20px;
}
.widgets-container .widget .vid-container {
  margin: 20px 0;
}
.widgets-container .widget .insta-list > li {
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}
.widgets-container .widget .posts-container.theme2 .pic-container .pic-inner-container {
  background-color: #4ea696;
}
.widgets-container .widget .posts-container.theme2 .post-content ul > li {
  color: #4ea696;
}
.widgets-container .widget .posts-container.theme3 .pic-container .pic-inner-container {
  background-color: #485460;
}
.widgets-container .widget .posts-container.theme3 .post-content ul > li {
  color: #66727c;
}
.widgets-container .widget .posts-container > li {
  margin-bottom: 1em;
  overflow: hidden;
}
.widgets-container .widget .posts-container .pic-container {
  margin-right: 1em;
}
.widgets-container .widget .posts-container .pic-container .pic-inner-container {
  background-color: #bd584b;
  padding: 5px;
}
.widgets-container .widget .posts-container .post-content {
  margin-top: 0;
}
.widgets-container .widget .posts-container .post-content ul > li {
  color: #bd584b;
  font: 600 italic 12px 'Open Sans', sans-serif;
}
.widgets-container .widget .posts-container .post-content ul > li a {
  color: #fff;
  font: 300 normal 14px 'Open Sans', sans-serif;
}
/*
|--------------------------------------------------------------------------
|   13.0 Portfolio Filter Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.filter-list-container {
  margin: 30px 0;
  position: relative;
}
.filter-list-container .filter-container .title {
  margin: 0;
}
.filter-list-container .filter-container .title .title-container {
  display: inline-block;
  background-color: #e76b5c;
  padding: 13px 0;
  width: 245px;
  color: #fff;
  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.filter-list-container .filter-container .title .title-container:before {
  position: absolute;
  top: 0px;
  right: 15px;
  font-family: 'icomoon';
  font-size: 1.2em;
  content: '\e6dd';
  line-height: 42px;
}
.filter-list-container .filter-container .title .title-container:focus {
  outline: none;
}
.filter-list-container .filter-container #filter-list {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  text-align: center;
  left: auto;
  right: auto;
  margin-bottom: 0;
  border-radius: 10px;
  margin-left: -123px;
  z-index: 99;
  -webkit-box-shadow: 0 26px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 26px 60px 0 rgba(0, 0, 0, 0.3);
}
.filter-list-container .filter-container #filter-list .active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filter-list-container .filter-container #filter-list .active a .filter-text {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #ff8576;
  position: relative;
}
.filter-list-container .filter-container #filter-list .active a .filter-text:before {
  content: '\2713';
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: 1.2em;
}
.filter-list-container .filter-container #filter-list .active a:hover,
.filter-list-container .filter-container #filter-list .active a:focus {
  text-decoration: none;
  outline: none;
}
.filter-list-container .filter-container #filter-list > li {
  background-color: #d56355;
}
.filter-list-container .filter-container #filter-list > li:first-child {
  padding-top: 10px;
}
.filter-list-container .filter-container #filter-list > li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 20px;
}
.filter-list-container .filter-container #filter-list > li a {
  background-color: #d56355;
  display: block;
  color: #fff;
  padding: 5px 34px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.filter-list-container .filter-container #filter-list > li a .filter-text {
  background-color: #e87364;
  border-radius: 15px;
  border: 1px solid #cc5e51;
  display: block;
  padding: 5px 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filter-list-container .filter-container #filter-list > li a:hover {
  text-decoration: none;
}
.filter-list-container .filter-container #filter-list > li a:hover .filter-text {
  border-color: #ff8576;
}
/*
|--------------------------------------------------------------------------
|   14.0 Portfolio Columns Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.portfolio-columns {
  overflow: hidden;
  margin-bottom: 40px;
}
.portfolio-columns .item-container {
  margin-bottom: 30px;
}
.portfolio-columns .item-container .item-image {
  overflow: hidden;
  position: relative;
}
.portfolio-columns .item-container .item-image img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  position: relative;
}
.portfolio-columns .item-container .item-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #636d78;
  color: #fff;
  height: 120px;
  width: 100%;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.portfolio-columns .item-container .item-image .overlay .portfolio-icons-list {
  margin: 20px 0;
}
.portfolio-columns .item-container .item-image .overlay .portfolio-icons-list > li a .icn-container {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 54px;
  background-color: #4ea696;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 1.4em;
}
.portfolio-columns .item-container .item-image .overlay .portfolio-icons-list > li a:hover {
  text-decoration: none;
}
.portfolio-columns .item-container .item-image:hover img {
  -webkit-transform: translateY(120px);
  -moz-transform: translateY(120px);
  -ms-transform: translateY(120px);
  transform: translateY(120px);
}
.portfolio-columns .item-container .item-image:hover .overlay {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}
.portfolio-columns .item-container .item-info {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-top: 20px;
  border-bottom: 3px solid transparent;
}
.portfolio-columns .item-container .item-info .item-title a {
  color: #485460;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.portfolio-columns .item-container .item-info .item-title a:hover {
  text-decoration: none;
}
.portfolio-columns .item-container .item-info .item-tags {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #485460;
  font-size: 12px;
}
.portfolio-columns .item-container .item-info .like {
  margin-top: 40px;
}
.portfolio-columns .item-container .item-info .like > li {
  color: #485460;
}
.portfolio-columns .item-container .item-info .like > li > a {
  color: #eef2f5;
  font-size: 1.8em;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.portfolio-columns .item-container .item-info .like > li > a:hover {
  text-decoration: none;
}
.portfolio-columns .item-container:hover .item-info {
  background-color: #ecf5f3;
  border-color: #70b7aa;
}
.portfolio-columns .item-container:hover .like > li > a {
  color: #fff;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/*
|--------------------------------------------------------------------------
|   15.0 Comments Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.comments {
  padding: 40px 0;
  background-color: #ecf0f1;
}
.comments .comment-title .title {
  color: #485460;
  font-size: 53px;
  font-weight: 300;
  text-align: center;
}
.comments .media-list {
  border-bottom: 1px solid #bdc3c7;
  padding: 20px 0;
}
.comments .media-list .media > .pull-left {
  margin-right: 30px;
}
.comments .media-list .media-body .media-heading {
  margin: 22px 0;
  color: #485460;
  font-size: 18px;
  font-weight: 500;
}
.comments .media-list .media-body .media-heading .frase {
  font-weight: 300;
}
.comments .media-list .media-body .media-content {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 20px;
  border-radius: 5px;
  color: #485460;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  line-height: 24px;
  overflow: hidden;
}
.comments .media-list .media-body .media-content .comment-information > li {
  padding-left: 0;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #485460;
  font-size: 12px;
  font-style: italic;
  line-height: 30px;
  margin-top: 5px;
}
.comments .media-list .media-body .media-content .comment-information > li a.reply {
  font-family: 'EntypoRegular';
  display: block;
  width: 30px;
  height: 30px;
  font-size: 1.4em;
  background-color: #485460;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
}
.comments .media-list .media-body .media-content .comment-information > li a.reply:hover {
  text-decoration: none;
}
.comments .media-list .media-body .media .media-content {
  background-color: #f6fafb;
}
.comments-form {
  background-color: #ecf0f1;
}
.comments-form .comments-title .title {
  color: #485460;
  font-weight: 300;
  font-size: 32px;
}
.comments-form .form-container {
  padding: 30px 0 60px;
}
.comments-form .form-container form label {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #485460;
}
.comments-form .form-container form input[type="text"],
.comments-form .form-container form input[type="email"] {
  height: 50px;
  color: #485460;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  border-width: 2px;
  border-color: #485460;
}
.comments-form .form-container form textarea {
  height: 140px;
  border-width: 2px;
  margin-bottom: 30px;
  border-color: #485460;
}
.comments-form .form-container form button {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.comments-form .form-control:focus {
  border-color: #485460;
  outline: 0;
  box-shadow: none;
}
/*
|--------------------------------------------------------------------------
|   16.0 Related Post Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.related-posts {
  background-color: #ecf0f1;
  padding: 20px 0 40px;
}
.related-posts .related-post-container {
  border-bottom: 1px solid #fff;
  padding: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.related-posts .related-post-container:hover {
  -webkit-box-shadow: 0 0 23px rgba(158, 158, 158, 0.6);
  box-shadow: 0 0 23px rgba(158, 158, 158, 0.6);
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  background-color: #f7f9f9;
}
.related-posts .related-post-container .category-container {
  margin-top: 35px;
}
.related-posts .related-post-container .category-container ul {
  text-align: center;
}
.related-posts .related-post-container .category-container ul > li a {
  border-radius: 15px;
}
.related-posts .related-post-container .related-content .title {
  color: #485460;
  font: 300 26px;
}
.related-posts .related-post-container .related-content p {
  font: 300 16px;
  color: #485460;
}
.related-posts .related-post-container .related-pic img {
  border: 6px solid #bdc3c7;
}
.related-posts .related-post-container .related-action {
  margin-top: 30px;
}
.related-posts .related-post-container .related-action ul > li a {
  font-size: 3em;
  color: #bdc3c7;
}
.related-posts .related-post-container .related-action ul > li a:hover {
  text-decoration: none;
}
/*
|--------------------------------------------------------------------------
|   16.0 Related Post Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.contact-form {
  background-color: #fafeff;
  padding: 60px 0;
  overflow: hidden;
}
.contact-form .contact-form-container form label {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #485460;
}
.contact-form .contact-form-container form input[type="text"],
.contact-form .contact-form-container form input[type="email"] {
  height: 50px;
  color: #485460;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  border-width: 2px;
  border-color: #485460;
}
.contact-form .contact-form-container form textarea {
  height: 140px;
  display: block;
  border-width: 2px;
  margin-bottom: 30px;
  border-color: #485460;
  width: 100%;
  border-radius: 4px;
}
.contact-form .contact-information .title {
  margin-top: 0;
  color: #485460;
  font: 300 32px 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
.contact-form .contact-information p {
  color: #485460;
  font: 300 14px/24px 'Open Sans', sans-serif;
}
/*
|--------------------------------------------------------------------------
|   17.0 Contact us Styles
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.about-container-main-tagline {
  background-color: #e76b5c;
  padding: 25px 0;
}
.about-container-main-tagline .title {
  margin-top: 0;
  font: 300 32px 'Open Sans', sans-serif;
  color: #fff;
}
#about-carousel {
  position: relative;
  height: 290px;
}
#about-carousel .swiper-about-next,
#about-carousel .swiper-about-prev {
  background-color: #485460;
  background-color: rgba(72, 84, 96, 0.9);
  width: 230px;
  height: 230px;
  position: absolute;
  z-index: 99;
  text-align: center;
  font-size: 3em;
}
#about-carousel .swiper-about-next a,
#about-carousel .swiper-about-prev a {
  display: block;
  color: #fff;
  line-height: 250px;
}
#about-carousel .swiper-about-next {
  right: 0;
  top: 0;
}
#about-carousel .swiper-about-prev {
  left: 0;
  top: 0;
}
#about-carousel .team-carousel {
  overflow: hidden;
  box-sizing: content-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
#about-carousel .team-carousel:hover .team-socials .list-socials {
  opacity: 100;
  filter: alpha(opacity=10000);
  visibility: visible;
  background-color: #e76b5c;
  background-color: rgba(231, 107, 92, 0.75);
}
#about-carousel .team-carousel:hover .figure-container .team-description {
  opacity: 100;
  filter: alpha(opacity=10000);
  visibility: visible;
}
#about-carousel .team-carousel .figure-container {
  position: relative;
}
#about-carousel .team-carousel .figure-container .team-description {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  background-color: #e76b5c;
  background-color: rgba(231, 107, 92, 0.75);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#about-carousel .team-carousel .figure-container .team-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
}
#about-carousel .team-carousel .figure-container .team-info .name {
  font: 300 21px 'Open Sans', sans-serif;
  color: #fff;
}
#about-carousel .team-carousel .figure-container .team-info .specs {
  font: italic 300 12px 'Open Sans', sans-serif;
  color: #363f48;
}
#about-carousel .team-carousel .team-socials {
  background-color: #485460;
}
#about-carousel .team-carousel .team-socials .list-socials {
  padding: 10px 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#about-carousel .team-carousel .team-socials .list-socials > li > a {
  text-align: center;
}
#about-carousel .team-carousel .team-socials .list-socials > li > a:hover {
  text-decoration: none;
}
#about-carousel .team-carousel .team-socials .list-socials > li > a:hover .icn-container {
  background-color: #fff;
  color: #485460;
}
#about-carousel .team-carousel .team-socials .list-socials .icn-container {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #d7aca9;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}
/*
|--------------------------------------------------------------------------
|   18.0 About Description Styles 
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.about-description {
  padding: 40px 0;
}
.about-description .about-description-content .title {
  color: #485460;
  font: 300 32px 'Open Sans', sans-serif;
  margin-top: 0;
}
.about-description .about-description-content p {
  font: 300 14px/22px 'Open Sans', sans-serif;
  color: #485460;
}
/*
|--------------------------------------------------------------------------
|   19.0 Expertise Bars 
|  
|--------------------------------------------------------------------------
|
| 
|
*/
.expertise-bars {
  padding: 40px 0;
  background: #55998a url(../img/expertise/expertise-bars.jpg) no-repeat;
}
.expertise-bars .expertise-title .title {
  font: 300 52px 'Open Sans', sans-serif;
  margin-top: 0;
  color: #ecf0f1;
}
.expertise-bars .progress-bar-container {
  margin-top: 20px;
}
.expertise-bars .progress-bar-container .title {
  color: #ecf0f1;
  font: 600 16px 'Open Sans', sans-serif;
}
.expertise-bars .progress-bar-container .progress {
  border-radius: 10px;
}
.expertise-bars .progress-bar-container .progress-bar {
  height: 50%;
  margin: 5px;
  border-radius: 10px;
  background-color: #4ea696;
}
.expertise-bars .progress-bar-container .list-skill-levels li {
  background: url(../img/expertise/counter-bg.png) no-repeat;
  padding-left: 3px;
  padding-right: 3px;
  font: 300 42px/60px 'Open Sans', sans-serif;
  color: #4ea696;
  height: 60px;
  width: 40px;
}
/*
|--------------------------------------------------------------------------
|  20.0 Responsive Styles 
|  
|--------------------------------------------------------------------------
|
| 
|
*/
@media only screen and (max-width: 1280px) {
  .filter-list-container .filter-container #filter-list {
    margin-left: -122px;
  }
  #about-carousel .swiper-about-next,
  #about-carousel .swiper-about-prev {
    width: 183px;
  }
}
@media only screen and (max-width: 1199px) {
  .socials li {
    padding-left: 0;
    padding-right: 0;
  }
  .filter-list-container .filter-container #filter-list {
    margin-left: -123px;
  }
  .page-title .post-meta-information .meta-list > li {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .filter-list-container .filter-container #filter-list {
    margin-left: -122px;
  }
  #about-carousel .team-carousel .team-socials .list-socials li {
    padding: 0;
  }
}
@media only screen and (max-width: 995px) {
  .navbar-nav {
    display: none;
  }
  .responsive-menu {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .socials li {
    padding-bottom: 5px;
  }
  .expertise {
    padding-bottom: 0;
  }
  .expertise .expertise-columns .expertise-content-container {
    margin-bottom: 100px;
  }
  .expertise .expertise-columns {
    padding-bottom: 0;
  }
  .latest-work-columns .item-image .overlay-container .content-container .title {
    font-size: 18px;
  }
  .latest-work-columns .item-image .overlay-container .content-title {
    top: 5%;
  }
  .latest-work-columns .item-image .overlay-container .content-footer {
    bottom: 0;
  }
  .sub-footer-container .footer-logo {
    display: block;
    text-align: center;
  }
  .sub-footer-container .footer-nav {
    text-align: center;
    margin-top: 20px;
    float: none!important;
  }
  .filter-list-container .filter-container #filter-list {
    margin-left: -123px;
  }
  .widgets-container .divider {
    width: 90%;
    margin: 20px 0px 40px;
  }
  .related-posts .related-post-container .related-content {
    text-align: center;
  }
  .contact-information {
    clear: both;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-header {
    float: left;
  }
  .tag-line .tag-info {
    border-top: 0;
  }
  .tag-line .tag-info-bx1 {
    border-top: 1px solid #485460;
  }
  .tag-line .tag-info-bx2 {
    border-top: 1px solid #485460;
    border-bottom: 1px solid #485460;
    border-left: 0;
    border-right: 0;
  }
  #about-carousel .swiper-about-next,
  #about-carousel .swiper-about-prev {
    width: 123px;
  }
}
@media only screen and (max-width: 640px) {
  .latest-work-columns .portfolio-items-container {
    width: 100%;
    text-align: center;
  }
  .navbar-wrapper {
    top: 20px;
  }
  .comments .media-list .media > .pull-left {
    float: none !important;
    text-align: center;
    display: block;
  }
  .comments .media-list .media-body .media-heading {
    text-align: center;
  }
  .page-title.portfolio-single .portfolio-tags {
    text-align: center;
  }
  .page-title .post-meta-information {
    text-align: center;
  }
  #about-carousel .swiper-about-next,
  #about-carousel .swiper-about-prev {
    display: none;
  }
  .page-title.bg-version .title {
    font-size: 54px;
  }
  .sub-footer-container .footer-nav {
    display: none;
  }
  .page-title.portfolio-single .portfolio-content-container {
    margin-top: 150px;
  }
  .page-title.portfolio-single.bg-v2 .portfolio-content-container {
    margin-top: 0;
  }
  .page-title.portfolio-single .portfolio-socials .meta-list > li {
    padding-bottom: 10px;
  }
  .comments-form .form-container form button {
    width: 100%;
    display: block;
  }
  .page-title.portfolio-single {
    padding-top: 100px;
  }
  .contact-form-container form button {
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 360px) {
  .responsive-menu {
    position: relative;
    top: -50px;
  }
}
